@model Web.Principal.Areas.GestionarUsuarios.Models.CrearUsuarioIntenoModel
@{
    ViewData["Title"] = "Nuevo Usuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                        Crear Usuario
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá crear nuevos usuarios.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">

        <!-- Payment methods card-->
        <div class="card card-header-actions mb-4">
            <div class="card-header">
                Nuevo registro
                <button id="btnVolver" class="btn btn-sm btn-primary" type="button">Volver</button>
            </div>

            <div class="card-body">
                <div class="sbp-preview-content">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md">
                            <form id="frmUsuario">
                                <div class="form-group row">
                                    <label asp-for="@Model.Nombres" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.Nombres" class="form-control" type="text" placeholder="Ingresar Nombres" />
                                        <span asp-validation-for="@Model.Nombres" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@Model.ApellidoPaterno" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.ApellidoPaterno" class="form-control" type="text" placeholder="Ingresar Apellidos" />
                                        <span asp-validation-for="@Model.ApellidoPaterno" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@Model.ApellidoMaterno" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.ApellidoMaterno" class="form-control" type="text" placeholder="Ingresar Apellidos" />
                                        <span asp-validation-for="@Model.ApellidoMaterno" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@Model.Correo" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.Correo" class="form-control" type="text" placeholder="Ingresar Correo" />
                                        <span asp-validation-for="@Model.Correo" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@Model.Contrasenia" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.Contrasenia" class="form-control" type="password" placeholder="Ingresar Contraseña" />
                                        <span asp-validation-for="@Model.Contrasenia" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label asp-for="@Model.ConfirmarContrasenia" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.ConfirmarContrasenia" class="form-control" type="password" placeholder="Confirmar Contraseña" />
                                        <span asp-validation-for="@Model.ConfirmarContrasenia" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-sm-2 col-form-label">Permisos</label>
                                    <div class="col-sm-3">
                                        <fieldset class="border p-2 h-100">
                                            <legend class="w-auto small">Perfil</legend>
                                            @foreach (var perfil in ViewBag.Perfiles as List<ViewModel.Datos.Perfil.PerfilVM>)
                                            {
                                                <div class="form-check form-check-solid">
                                                    <input asp-for="@Model.Perfil" class="form-check-input" id="Perfil@(perfil.IdPerfil)" type="radio" value="@perfil.IdPerfil" />
                                                    <label class="form-check-label" for="Perfil@(perfil.IdPerfil)">@perfil.Nombre</label>
                                                </div>
                                            }
                                            <span asp-validation-for="@Model.Perfil" class="small text-danger"></span>
                                        </fieldset>

                                    </div>
                                    <div class="col-sm-3">
                                        <fieldset class="border p-2 h-100">
                                            <legend class="w-auto small">Accesos</legend>
                                            <div style="height:180px;" class="overflow-auto" id="MenuCheckBox"></div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div id="MensajeResult"></div>
                                <hr />
                                <div class="mb-2 text-right">
                                    <button class="btn btn-primary" type="submit">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuario Creado</h5>
            </div>
            <div class="modal-body" id="mensaje"></div>
            <div class="modal-footer">
                <button id="btnCerrar" class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>


       

        $(document).ready(function () {

            $(".loader").fadeOut("slow");

        });


        $('input[type=radio][name=Perfil]').change(function () {
            var IdPerfil = this.value;
            $.ajax({
                type: "GET",
                url: "/GestionarUsuarios/Usuario/MenusPorPerfil?IdPerfil=" + IdPerfil + "&IdUsuario=0",
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            }).done(function (result) {



                if (result != null) {

                    $('#MenuCheckBox').html(result);

                } 



            })
            .fail(function (xhr, status, error) {

            })
            .always(function () {

            });
        });

        $("#frmUsuario").submit(function (e) {

            $('#MensajeResult').html("");
            e.preventDefault();
            var isValid = $('#frmUsuario').valid();

            if (isValid) {

                var form = $('#frmUsuario')[0];
                var formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    url: "/GestionarUsuarios/Usuario/CrearUsuario",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(".loader").fadeIn("slow");
                    }
                }).done(function (result) {

                    $(".loader").fadeOut("slow");

                    if (result != null) {
                        if (result.codigo == 0) {

                            $('#mensaje').html(result.mensaje);
                            $('#modal_mensaje').modal('show');

                        } else {
                            ShowAlertMensage('MensajeResult', 'warning', '', result.mensaje, 0, null);
                        }
                    } else {
                        ShowAlertMensage('ResultConfirmar', 'warning', '', "Error inesperado, volver a intentar por favor.", 0, null);
                    }
                        


                })
                .fail(function (xhr, status, error) {

                })
                .always(function () {

                });
            }
        });

        $("#btnCerrar").click(function () {
            $('#modal_mensaje').modal('hide');
            window.location.href = "/GestionarUsuarios/Usuario/ListarUsuarios";
        });

        $("#btnVolver").click(function () {
            window.location.href = "/GestionarUsuarios/Usuario/ListarUsuarios";
        });

    </script>
}