@model Web.Principal.Areas.GestionarUsuarios.Models.CrearUsuarioIntenoModel
@{
    ViewData["Title"] = "Nuevo Usuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                        Crear Usuario
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá crear nuevo usuario interno.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">

    <!-- Payment methods card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Crear Usuario
            <button id="btnVolver" class="btn btn-sm btn-primary" type="button">Volver</button>
        </div>

        <div class="card-body">
            <div class="sbp-preview-content">



                <form id="frmUsuario">

                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="@Model.Correo" class="small mb-1"></label>
                            <input asp-for="@Model.Correo" class="form-control" type="text" placeholder="Ingresar Correo" />
                            <span asp-validation-for="@Model.Correo" class="text-danger small"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="@Model.Nombres" class="small mb-1"></label>
                            <input asp-for="@Model.Nombres" class="form-control" type="text" placeholder="Ingresar Nombres" />
                            <span asp-validation-for="@Model.Nombres" class="text-danger small"></span>
                        </div>





                    </div>



                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label asp-for="@Model.ApellidoPaterno" class="small mb-1"></label>
                            <input asp-for="@Model.ApellidoPaterno" class="form-control" type="text" placeholder="Ingresar Apellidos" />
                            <span asp-validation-for="@Model.ApellidoPaterno" class="text-danger small"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="@Model.ApellidoMaterno" class="small mb-1"></label>
                            <input asp-for="@Model.ApellidoMaterno" class="form-control" type="text" placeholder="Ingresar Apellidos" />
                            <span asp-validation-for="@Model.ApellidoMaterno" class="text-danger small"></span>
                        </div>



                    </div>


                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label asp-for="@Model.Contrasenia" class="small mb-1"></label>
                            <input asp-for="@Model.Contrasenia" class="form-control" type="password" placeholder="Ingresar Contraseña" />
                            <span asp-validation-for="@Model.Contrasenia" class="text-danger small"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="@Model.ConfirmarContrasenia" class="small mb-1"></label>
                            <input asp-for="@Model.ConfirmarContrasenia" class="form-control" type="password" placeholder="Confirmar Contraseña" />
                            <span asp-validation-for="@Model.ConfirmarContrasenia" class="text-danger small"></span>
                        </div>
                    </div>



                    <div class="row gx-3 mb-3">


                        <div class="col-md-6">
                            <label class="small mb-1">Perfil</label>
                            <fieldset class="border p-2">

                                @foreach (var perfil in ViewBag.Perfiles as IEnumerable<ViewModel.Datos.Perfil.PerfilVM>)
                                {
                                    <div class="form-check form-check-solid">
                                        <input asp-for="@Model.Perfil" class="form-check-input" id="Perfil@(perfil.IdPerfil)" type="radio" value="@perfil.IdPerfil" />
                                        <label class="small" for="Perfil@(perfil.IdPerfil)">@perfil.Nombre</label>
                                    </div>
                                }
                                <span asp-validation-for="@Model.Perfil" class="text-danger small"></span>
                            </fieldset>

                        </div>

                        <div class="col-md-6">
                            <label class="small mb-1">Accesos</label>
                            <fieldset class="border p-2">

                                <div style="height:180px;" class="overflow-auto small" id="MenuCheckBox"></div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="MensajeResult"></div>
                    <hr />
                    <div class="mb-2 text-right">
                        <button class="btn btn-primary" type="submit">Registrar</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="dialogOk" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuario Creada</h5>

            </div>
            <div class="modal-body">
                <output id="outputMensajeOk" class="small"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="ActualizarForm()">Cerrar</button></div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogAlerta" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">Alerta</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensaje" class="small"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogError" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeError" class="small"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>




        $(document).ready(function () {

            $(".loader").fadeOut("slow");

            $('input[type=radio][name=Perfil]').change(function () {
                var IdPerfil = this.value;
                $.ajax({
                    type: "GET",
                    url: "/GestionarUsuarios/Usuario/MenusPorPerfil?IdPerfil=" + IdPerfil + "&IdUsuario=0",
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'
                }).done(function (result) {



                    if (result != null) {

                        $('#MenuCheckBox').html(result);

                    }



                })
                    .fail(function (xhr, status, error) {

                    })
                    .always(function () {

                    });
            });

            $("#frmUsuario").submit(function (e) {

                $('#MensajeResult').html("");
                e.preventDefault();
                var isValid = $('#frmUsuario').valid();

                if (isValid) {

                    var form = $('#frmUsuario')[0];
                    var formData = new FormData(form);
                    $.ajax({
                        type: "POST",
                        url: "/GestionarUsuarios/Usuario/CrearUsuario",
                        data: formData,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $(".loader").fadeIn("slow");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $(".loader").fadeOut("slow");


                            $("#dialogPrincipalError").modal("show");

                            if (jqXHR.status == 401) {
                                $("#outputMensajePrincipalError").html("Estimado usuario, no tiene acceso a este recurso.");
                            } else {
                                $("#outputMensajePrincipalError").html("Estimado usuario, ocurrio un error inesperado detalle: "+ textStatus + " - " + errorThrown);
                            }

                        },
                        success: function (response) {
                            $(".loader").fadeOut("slow");

                            if (response != null) {
                                if (response.codigo == 0) {

                                    $('#outputMensajeOk').html(response.mensaje);
                                    $('#dialogOk').modal('show');

                                } else {


                                    $('#outputMensaje').html(response.mensaje);
                                    $('#dialogAlerta').modal('show');
                                }
                            } else {

                                $('#outputMensajeError').html("Error inesperado, volver a intentar por favor.");
                                $('#dialogAlerta').modal('show');
                            }



                        },
                        complete: function (data) {
                            $(".loader").fadeOut("slow");

                        }
                    });
                }
            });



            $("#btnVolver").click(function () {
                window.location.href = "/GestionarUsuarios/Usuario/ListarUsuarios";
            });
        });




        function ActualizarForm() {
                  $('#dialogOk').modal('hide');

            window.location.href = "@Url.Action("ListarUsuarios","Usuario",new {area="GestionarUsuarios" })";
        }


    </script>
}