@model Web.Principal.Areas.GestionarUsuarios.Models.EditarUsuarioInternoModel
@{
    ViewData["Title"] = "Detalle Usuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    this.ViewData.Add("ModoLectura", true);


    
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="user"></i></div>
                        Detalle Usuario
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá visualizar los datos del usuario.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">

    <!-- Payment methods card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Detalle de Usuario
            <button id="btnVolver" class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>
        </div>

        <div class="card-body">
            <div class="sbp-preview-content">
             
                <form id="frmUsuario">




                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label asp-for="@Model.Correo" class="small mb-1"></label>
                            <input readonly asp-for="@Model.Correo" disabled class="form-control small" type="text" />

                        </div>

                        <div class="col-md-6">
                            <label asp-for="@Model.Nombres" class="small mb-1"></label>
                            <input asp-for="@Model.Nombres" disabled class="form-control " type="text" />

                        </div>



                    </div>



                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">

                            <label asp-for="@Model.ApellidoPaterno" class="small mb-1"></label>
                            <input asp-for="@Model.ApellidoPaterno" disabled class="form-control" type="text" />


                        </div>
                        <div class="col-md-6">
                            <label asp-for="@Model.ApellidoMaterno" class="small mb-1"></label>
                            <input asp-for="@Model.ApellidoMaterno" disabled class="form-control" type="text" />
                        </div>


                    </div>




                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label asp-for="@Model.UsuarioCrea" class="small mb-1"></label>
                            <input asp-for="@Model.UsuarioCrea" disabled class="form-control" type="text" />
                        </div>

                        <div class="col-md-6">
                            <label asp-for="@Model.FechaCrea" class="small mb-1"></label>
                            <input readonly asp-for="@Model.FechaCrea" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" disabled class="form-control small" type="text" />

                        </div>
                    </div>

                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label asp-for="@Model.UsuarioModifica " class="small mb-1"></label>
                            <input asp-for="@Model.UsuarioModifica" disabled class="form-control" type="text" />
                        </div>

                        <div class="col-md-6">
                            <label asp-for="@Model.FechaModifica" class="small mb-1"></label>
                            <input readonly asp-for="@Model.FechaModifica" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" disabled class="form-control small" type="text" />

                        </div>
                    </div>


                    <div class="row gx-3 mb-3">



                        <div class="col-md-6">
                            <label class="small mb-1">Estado</label>
                            <fieldset class="border p-2 mb-2">


                                <div class="form-check form-check-solid">
                                    <input asp-for="@Model.Activo" disabled class="form-check-input" id="Radio1" type="radio" value="true">
                                    <label class="form-check-label small" for="Radio1">Activo</label>
                                </div>

                                <div class="form-check form-check-solid">
                                    <input asp-for="@Model.Activo" disabled class="form-check-input" id="Radio2" type="radio" value="false">
                                    <label class="form-check-label small" for="Radio2">Inactivo</label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1"></label>
                            <div class="form-check form-check-solid">
                                @if (Model.CambioContrasenia)
                                {
                                    <input asp-for="@Model.CambioContrasenia" disabled class="form-check-input border-primary" type="checkbox" checked />
                                }
                                else
                                {
                                    <input asp-for="@Model.CambioContrasenia" disabled class="form-check-input border-primary" type="checkbox" />
                                }
                                <label asp-for="@Model.CambioContrasenia" class="small"></label>
                            </div>
                            <div class="form-check form-check-solid">
                                @if (Model.ConfirmarCuenta)
                                {
                                    <input readonly asp-for="@Model.ConfirmarCuenta" disabled class="form-check-input border-primary" type="checkbox" checked />
                                }
                                else
                                {
                                    <input readonly asp-for="@Model.ConfirmarCuenta" disabled class="form-check-input border-primary" type="checkbox" />
                                }
                                <label asp-for="@Model.ConfirmarCuenta" class="small"></label>
                            </div>

                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1">Perfil</label>
                            
                            <input asp-for="@Model.PerfilNombre" disabled class="form-control" type="text" />
                        </div>
                    </div>
                        <div class="row gx-3 mb-3">



                            <div class="col-md-12">
                                <label class="small mb-1">Accesos</label>
                                <fieldset class="border p-2">

                                    <div style="height:400px;" class="overflow-auto small" id="MenuCheckBox">
                                        @await Html.PartialAsync("_MenusPorPerfil", Model.Menus)
                                    </div>
                                </fieldset>
                            </div>
                        </div>



                        <div id="MensajeResult"></div>
                        <hr />
                        <div class="mb-2 text-right">

                            <button class="btn btn-primary" id="btnEditar" type="button"> Editar</button>

                        </div>
                </form>
                
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>

        $(document).ready(function () {
            $(".loader").fadeOut("slow");

            $("#btnEditar").on("click", function (){

                window.location = "@Url.Action("EditarUsuario","Usuario", new { area="GestionarUsuarios", parkey = Security.Common.Encriptador.Instance.EncriptarTexto(Model.IdUsuario.ToString()) })";

            });

        });




    </script>
}