@model Web.Principal.Areas.GestionarUsuarios.Models.EditarUsuarioInternoModel
@{
    ViewData["Title"] = "Detalle Usuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    this.ViewData.Add("ModoLectura", true);


    
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="user"></i></div>
                        Detalle Usuario
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá visualizar los datos del usuario.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">

    <!-- Payment methods card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Detalle de Usuario
            <button id="btnVolver" class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>
        </div>

        <div class="card-body">
            <div class="sbp-preview-content">
                <div class="row">
             
                    <div class="col-md">
                        <form id="frmUsuario">




                            <div class="form-group row small">

                                <label asp-for="@Model.Nombres" class="col-sm-2 col-form-label small"></label>

                                <div class="col-sm-4">

                                    <input asp-for="@Model.Nombres" disabled class="form-control " type="text" />

                                </div>
                                <label asp-for="@Model.ApellidoPaterno" class="col-sm-2 col-form-label "></label>
                                <div class="col-sm-4">


                                    <input asp-for="@Model.ApellidoPaterno" disabled class="form-control" type="text" />


                                </div>

                            </div>



                            <div class="form-group row small">
                                <label asp-for="@Model.ApellidoMaterno" class="col-sm-2 col-form-label small"></label>
                                <div class="col-sm-4">
                                    <input asp-for="@Model.ApellidoMaterno" disabled class="form-control" type="text" />
                                </div>
                                <label asp-for="@Model.Correo" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-4">
                                    <input readonly asp-for="@Model.Correo" disabled class="form-control small" type="text" />

                                </div>
                            </div>




                            <div class="form-group row small">
                                <label asp-for="@Model.UsuarioCrea" class="col-sm-2 col-form-label small"></label>
                                <div class="col-sm-4">
                                    <input asp-for="@Model.UsuarioCrea" disabled class="form-control" type="text" />
                                </div>
                                <label asp-for="@Model.FechaCrea" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-4">
                                    <input readonly asp-for="@Model.FechaCrea" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" disabled class="form-control small" type="text" />

                                </div>
                            </div>

                            <div class="form-group row small">
                                <label asp-for="@Model.UsuarioModifica " class="col-sm-2 col-form-label small"></label>
                                <div class="col-sm-4">
                                    <input asp-for="@Model.UsuarioModifica" disabled class="form-control" type="text" />
                                </div>
                                <label asp-for="@Model.FechaModifica" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-4">
                                    <input readonly asp-for="@Model.FechaModifica" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" disabled class="form-control small" type="text" />

                                </div>
                            </div>


                            <div class="form-group row small">
                                <label  class="col-sm-2 col-form-label small"></label>
                                <div class="col-sm-4">
                                    @if (Model.CambioContrasenia)
                                    {
                                        <input asp-for="@Model.CambioContrasenia" disabled class="form-check-input border-primary" type="checkbox" checked />
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.CambioContrasenia" disabled class="form-check-input border-primary" type="checkbox"  />
                                    }
                                    <label asp-for="@Model.CambioContrasenia" class=""></label>
                                </div>
                                    <label  class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-4">
                                        @if (Model.ConfirmarCuenta)
                                        {
                                        <input readonly asp-for="@Model.ConfirmarCuenta" disabled class="form-check-input border-primary" type="checkbox" checked />
                                        }
                                        else
                                        {
                                    <input readonly asp-for="@Model.ConfirmarCuenta" disabled class="form-check-input border-primary" type="checkbox"  />
                                        }
                                        <label asp-for="@Model.ConfirmarCuenta" class=""></label>
                                    </div>
                                </div>


                            <div class="form-group row mb-3 small">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-2">
                                    <fieldset class="border p-2 mb-2">
                                        <legend class="w-auto text-sm">Estado</legend>

                                        <div class="form-check form-check-solid">
                                            <input asp-for="@Model.Activo" disabled class="form-check-input" id="Radio1" type="radio" value="true">
                                            <label class="form-check-label" for="Radio1">Activo</label>
                                        </div>

                                        <div class="form-check form-check-solid">
                                            <input asp-for="@Model.Activo" disabled class="form-check-input" id="Radio2" type="radio" value="false">
                                            <label class="form-check-label" for="Radio2">Inactivo</label>
                                        </div>
                                    </fieldset>


                                </div>
                                <div class="col-sm-3">

                                    <fieldset class="border p-2 h-100">
                                        <legend class="w-auto text-sm">Perfil</legend>
                                        @foreach (var perfil in ViewBag.Perfiles as IEnumerable<ViewModel.Datos.Perfil.PerfilVM>
                               )
                                        {

                                    <div class="form-check form-check-solid">
                                        
                                        @if (Model.Perfil == perfil.IdPerfil)
                                        {

                                            <input asp-for="@Model.Perfil" class="form-check-input border-primary" id="Perfil@(perfil.IdPerfil)" type="radio" value="@perfil.IdPerfil" checked disabled />



                                        }
                                        else
                                        {

                                            <input asp-for="@Model.Perfil" class="form-check-input border-primary" id="Perfil@(perfil.IdPerfil)" type="radio" value="@perfil.IdPerfil" disabled />

                                        }

                                        <label class="form-check-label " for="Perfil@(perfil.IdPerfil)">@perfil.Nombre</label>

                                    </div>

                                        }



                                    </fieldset>

                                </div>
                                <div class="col-sm-5">
                                    <fieldset class="border p-2 h-100">
                                        <legend class="w-auto text-sm">Accesos</legend>
                                        <div style="height:180px;" class="overflow-auto" id="MenuCheckBox">
                                            @await Html.PartialAsync("_MenusPorPerfil", Model.Items)
                                        </div>
                                    </fieldset>
                                </div>
                            </div>



                            <div id="MensajeResult"></div>
                            <hr />
                            <div class="mb-2 text-right">

                                <button class="btn btn-primary" id="btnEditar" type="button"> Editar</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>

        $(document).ready(function () {
            $(".loader").fadeOut("slow");

            $("#btnEditar").on("click", function (){

                window.location = "@Url.Action("EditarUsuario","Usuario", new { area="GestionarUsuarios",Id=Model.IdUsuario })";

            });

        });




    </script>
}