@model Web.Principal.Areas.GestionarSolicitudes.Models.AsignacionModel

@{
    ViewData["Title"] = "Lista Asignados";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>



<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                        Bandeja de Asignaciones de Agencia de Aduanas
                    </h1>
                    <div class="page-header-subtitle"> Con esta opción podra visualizar los embarques asignados para usted.</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <form method="post" id="formListAsignados" asp-controller="AsignarAgente" asp-area="GestionarEmbarques" asp-action="ListarEncriptar">
        <div class="card card-header-actions mb-4">
            <div class="card-header">
                Filtros para Busqueda
                <button class="btn btn-sm btn-primary"  onclick="btnBuscar()" type="button">Buscar</button>
            </div>

            <div class="card-body">
                <div class="sbp-preview-content">
                    <div class="row gx-3">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="small mb-1">Nro. de Embarque</label>
                                <input class="form-control" type="text" asp-for="@Model.ListarAsignacionParameter.NROBL" placeholder=" Ingrese Nro. de Embarque" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="small mb-1">Nro. de Orden de Trabajo</label>
                                <input class="form-control" type="text" asp-for="@Model.ListarAsignacionParameter.NROOT" placeholder=" Ingrese Nro. de Orden de Trabajo" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="@Model.ListarAsignacionParameter.Estado" class="small mb-1"></label>
                            <select asp-for="@Model.ListarAsignacionParameter.Estado" id="ddlEstadoAsignarAgenteAduanas"
                                    asp-items="@ViewBag.ListarEstado"
                                    class="form-select small">
                                <option value="0">Todos</option>
                            </select>
                            <input type="hidden" asp-for="@Model.ListarAsignacionParameter.Estado" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Billing history card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header ">
            Registros Encontrados
        </div>
        <div class="card-body">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history" id="divListAsignado">
                @{
                    if ((Model.TipoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.AGENTE_ADUANAS)))
                    {
                        <partial name="_ResultadoAsignadosFiltro" model="@Model.listAsignarAgenteResult" />

                    }
                    else
                    {
                        <partial name="_ResultadoAsignacionFiltro" model="@Model.listAsignarAgenteResult" />
                    }

                }


            </div>

        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_confirmarAsignado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="h5Titulo">Confirmar</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="0" id="IdRegistro" />
                <input type="hidden" value="" id="Estado" />
                <input type="hidden" value="" id="hidenKeyBl" />
                <div class="form-group row" id="divContenidoCambiarEstadoAgenteAduanas">
                    <label class="col-sm-3 col-form-label pt-2">Comentario</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="Observacion" rows="3"></textarea>
                    </div>
                </div>
                <div class="pt-3" id="divContentRechzarConfirm" style="display:none">
                    ¿Estas seguro de aprobar la asignación de agente de aduanas para el embarque seleccionado?
                    <br />
                    <a class="small" style="font-size:12px" href="~/fileserver/Terminos_Condiciones_Generales_Contratacion.pdf" target="_blank"> Términos y Condiciones Generales de Contratación </a>
                </div>
                <div class="pt-3" id="ResultConfirmar"></div>
            </div>
            <div class="modal-footer">
                <button id="btnAprobarRechazar" class="btn btn-primary" type="button">Aceptar</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_confirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anular Asignación de Agente de Aduanas</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="0" id="IdAsignado" />
                <input type="hidden" value="0" id="KeyBl" />
                <input type="hidden" value="0" id="NroBl" />


                <div class="form-group row">
                    <label class="col-sm-3 col-form-label pt-2">Comentario</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="ObservacionAnulacion" rows="3"></textarea>
                    </div>
                </div>
                <div class="pt-3" id="ResultConfirmarAnulacion"></div>
            </div>
            <div class="modal-footer">
                <button id="btnAnular" class="btn btn-primary" type="button">Anular</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogOk" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Información</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeOk"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogError" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeError"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogAlerta" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">Alerta</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensaje"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_asginacion_aduana_historial" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial de Eventos</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="divContentAsignacionAgenteHistorial">



            </div>
            <div class="modal-footer">



                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="@Url.Content("~/js/datatables/simple-datatables.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js")"></script>






    <script type="text/javascript">


        $(document).ready(function () {

            $(".loader").fadeOut("slow");


            DataTableListAgenteAsignados();


            $("#btnAprobarRechazar").click(function () {

                $("#ResultConfirmar").html("");
                var formData = new FormData();
                formData.append("Id", $('#IdRegistro').val());
                formData.append("Observacion", $('#Observacion').val());
                formData.append("Estado", $('#Estado').val());
                formData.append("KeyBL", $('#hidenKeyBl').val());

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AprobarRechazar", "AsignarAgente", new { area= "GestionarEmbarques" })",
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(".loader").fadeIn("slow");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                        $(".loader").fadeOut("slow");
                        $("#dialogError").modal("show");
                        if (jqXHR.status == 401) {
                            $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                        } else {
                            $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                        }

                    },
                    success: function (result) {
                        $(".loader").fadeOut("slow");
                        if (result != null) {
                            if (result.codigo == 0) {
                                $('#modal_confirmarAsignado').modal('hide');
                                $('#dialogOk').modal('show');
                                $('#outputMensajeOk').html(result.mensaje);
                                ActualizarAsignadosAgenteAduanas();
                            } else {
                                $("#dialogAlerta").modal("show");
                                $("#outputMensaje").html(result.mensaje);
                            }
                        } else {
                            $("#dialogError").modal("show");
                            $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle");
                        }
                    },
                    complete: function (data) {

                        

                    }
                });



            });

            $("#btnAnular").click(function () {

                $("#ResultConfirmarAnulacion").html("");
                var formData = new FormData();

                formData.append("IdAsignacion", $('#IdAsignado').val());
                formData.append("Observacion", $('#ObservacionAnulacion').val());

                formData.append("KeyBl", $('#KeyBl').val());
                formData.append("NroBl", $('#NroBl').val());

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AnularAsignacion", "AsignarAgente", new { area= "GestionarEmbarques" })',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(".loader").fadeIn("slow");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                        $(".loader").fadeOut("slow");
                        $("#dialogError").modal("show");
                        if (jqXHR.status == 401) {
                            $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                        } else {
                            $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                        }


                    },
                    success: function (result) {

                        $("#ObservacionAnulacion").html("");


                        if (result != null) {
                            if (result.codigo == 0) {

                                $('#modal_confirmar').modal('hide');
                                $('#dialogOk').modal('show');
                                $('#outputMensajeOk').html(result.mensaje);

                                ActualizarAsignadosAgenteAduanas();

                            } else {
                                $("#dialogAlerta").modal("show");
                                $("#outputMensaje").html(result.mensaje);
                            }
                        } else {
                            $("#dialogError").modal("show");
                            $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle");
                        }

                    },
                    complete: function (data) {

                        $(".loader").fadeOut("slow");

                    }
                });


            });


        });

        function DataTableListAgenteAsignados() {

            let dataTable = new simpleDatatables.DataTable("#datatable", {
                searchable: true,
                labels: {
                    "noRows": "No hay información",
                    perPage: "{select} Registros por página",
                    "info": "Mostrando {start} a {end} de {rows} Registros",
                    placeholder: "Filtro rápido...",
                },

                columns: [

                    {
                        select: 5,
                        type: "date",
                        format: "DD/MM/YYYY"
                    }
                ]
            });

        }

        function ActualizarAll() {
            location.reload();
        }

        function ActualizarAsignadosAgenteAduanas() {


            var formData = $('#formListAsignados').serialize();

            $.ajax({
                url: "@Url.Action("PartialAsignadoAgente", "AsignarAgente", new {area="GestionarEmbarques" })",
                data: formData,
                type: 'POST',
                beforeSend: function () {

                    $(".loader").fadeIn("slow");
                    $("#divListAsignado").html("Procesando...")
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    $(".loader").fadeOut("slow");
                    $("#dialogError").modal("show");
                    $("#divListAsignado").html("")
                    if (jqXHR.status == 401) {
                        $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess" + " <br/> Listar asignaciones.");
                    } else {
                        $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                    }



                },
                success: function (response) {
                    $(".loader").fadeOut("slow");
                    $("#divListAsignado").html(response);
                    DataTableListAgenteAsignados();

                },
                complete: function (data) {


                }
            });
        }

        function ConfirmarAprobrarRechazar(Id, KeyBL, Estado) {



            $("#ResultConfirmar").html("");
            switch (Estado) {
                case "2":
                    $("#divContentRechzarConfirm").show();
                    $("#btnAprobarRechazar").text("Aprobar");
                    $("#divContenidoCambiarEstadoAgenteAduanas").hide();
                    $("#h5Titulo").html("Aprobar Asignación de Agente de Aduanas");
                    break;
                case "3":
                    $("#divContentRechzarConfirm").hide();
                    $("#btnAprobarRechazar").text("Aceptar");
                    $("#divContenidoCambiarEstadoAgenteAduanas").show();
                    $("#h5Titulo").html("Rechazar Asignación de Agente de Aduanas");
                    break;
            }
            $('#IdRegistro').val(Id);
            $('#hidenKeyBl').val(KeyBL);

            $('#Estado').val(Estado);
            $('#modal_confirmarAsignado').modal('show');
        }

        function ConfirmarAnular(IdAsignado, KeyBl, NroBl) {
            $('#ObservacionAnulacion').val("");
            $("#ResultConfirmar").html("");
            $('#IdAsignado').val(IdAsignado);
            $('#KeyBl').val(KeyBl);
            $('#NroBl').val(NroBl);
            $('#modal_confirmar').modal('show');

        }

        function DataTableAsignacionAduanaHistorial() {

            try {

                new simpleDatatables.DataTable("#dtAsignacionAduanaHistorial", {
                    searchable: true,
                    labels: {
                        "noRows": "No hay información",
                        perPage: "{select} Registros por página",
                        "info": "Mostrando {start} a {end} de {rows} Registros",
                        placeholder: "Filtro rápido...",
                    },
                });
            }
            catch (Erro) {


            }

        }

        function AbrirHistorial(IdAsignacionAgente) {

            AsignacionAduanaHistorial(IdAsignacionAgente);

        }


        function AsignacionAduanaHistorial(IdAsignacionAduana) {



            $.ajax({
                type: "GET",
                url: "@Url.Action("ListarAgenteAduanasHistorial", "AsignarAgente",new { area="GestionarEmbarques"})",
                data: { IdAgenteAduana: IdAsignacionAduana },
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                beforeSend: function () {
                    $(".loader").fadeOut("slow");
                    $(".loader").fadeIn("slow");
                    $("#divContentAsignacionAgenteHistorial").html("Procesando...")

                },
                 error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader").fadeOut("slow");

                    $("#dialogError").modal("show");
                    if (jqXHR.status == 401) {
                        $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                    } else {
                        $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                    }


                },
                success: function (response) {

                    $(".loader").fadeOut("slow");

                    $('#modal_asginacion_aduana_historial').modal('show');
                    $("#divContentAsignacionAgenteHistorial").html(response);

                    DataTableAsignacionAduanaHistorial();
                },
                complete: function (data) {


                }
            });

        }

        function btnBuscar() {

            var form = $('#formListAsignados')[0];
            var formData = new FormData(form);

            $.ajax({
                url: form.action,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                cache: false,
                beforeSend: function () {
                    $(".loader").fadeIn("slow");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader").fadeOut("slow");

                    $("#dialogError").modal("show");
                    if (jqXHR.status == 401) {
                        $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                    } else {
                        $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                    }


                },
                success: function (response) {

                    $(".loader").fadeOut("slow");
                    if (response.codigo == 0) {
                        window.location.href = response.mensaje;
                    }
                    else if (response.codigo > 0) {
                        $("#dialogAlerta").modal("show");
                        $("#outputMensaje").html(response.mensaje);
                    }
                    else {
                        $("#dialogError").modal("show");
                        $("#outputMensajeError").html(response.mensaje);
                    }
                },
                complete: function (data) {


                }
            });
        }

    </script>
}
