@model Web.Principal.Areas.GestionarEmbarques.Models.EmbarqueBuscarModel

@{
    ViewBag.Title = "Buscar operaciones de embarque";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i class="bi bi-box-seam"></i></div>
                        Consulta de Embarques
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá consultar los embarques que tiene con nosotros.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="get" enctype="multipart/form-data" id="frmBuscarEmbarque">

        <div class="card card-header-actions mt-n10">
            <div class="card-header">Filtros para Búsqueda    <button class="btn btn-sm btn-primary" type="button" onclick="onBuscarEmbarque()">Buscar</button></div>

            <div class="card-body">
                <div class="sbp-preview-content">

                    <div class="row gx-3">
                        
                        <div class="col-md-3">
                            <div class="mb-3">

                                <label asp-for="@Model.Servicio" class="small mb-1"></label>
                                <select asp-for="@Model.Servicio" id="ddlServicio"
                                        asp-items="Model.ListaServicios" onchange="onChangeAnio(this)"
                                        class="form-select small">
                                    <option value="0">Seleccionar</option>
                                </select>
                               
                                <span asp-validation-for="@Model.Servicio" id="spanValidarAnio" class="small text-danger"></span>
                                

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label asp-for="@Model.Origen" class="small mb-1"></label>
                                <select asp-for="@Model.Origen" onchange="onChangeTipoCriterio(this)"
                                        asp-items="Model.ListaOrigen" id="ddlOrigen"
                                        class="form-select small">
                                    <option value="a">Seleccionar</option>
                                </select>

                                <span asp-validation-for="@Model.Origen"class="small text-danger"  id="spanValidarFiltro"></span>
                                

                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">

                        <div class="col-md-3">
                            <div class="mb-3">

                                <label asp-for="@Model.Anio" class="small mb-1"></label>
                                <select asp-for="@Model.Anio" id="ddlAnio"
                                        asp-items="Model.ListAnios" onchange="onChangeAnio(this)"
                                        class="form-select small">
                                    <option value="0">Seleccionar</option>
                                </select>
                               
                                <span asp-validation-for="@Model.Anio" id="spanValidarAnio" class="small text-danger"></span>
                                

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label asp-for="@Model.TipoFiltro" class="small mb-1"></label>
                                <select asp-for="@Model.TipoFiltro" onchange="onChangeTipoCriterio(this)"
                                        asp-items="Model.TipoFiltros" id="ddlTipoCriterio"
                                        class="form-select small">
                                    <option value="a">Seleccionar</option>
                                </select>

                                <span asp-validation-for="@Model.TipoFiltro"class="small text-danger"  id="spanValidarFiltro"></span>
                                

                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="mb-3">
                                <label asp-for="@Model.Filtro" class="small mb-1"></label>
                                <input asp-for="@Model.Filtro" class="form-control small" id="txtRuc" type="text" maxlength="20" placeholder="Ingrese un criterio" />
                                <span asp-validation-for="@Model.Filtro" id="spanValidarFiltro" class="small text-danger"></span>
                                
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </form>


</div>

<div class="container-xl my-3 px-4">
    <div class="card card-header-actions mb-4">
        <div class="card-header ">
            Registros Encontrados

        </div>
        <div class="card-body">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                @if (Model.listEmbarques != null && Model.listEmbarques.listaEmbarques.Count() > 0)
                {
                    <partial name="_ResultadoBusqueda" model="@Model" />
                }
                else
                {
                    @Html.Raw("No existen registros...");
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{



    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js")"></script>

    <script src="@Url.Content("~/js/datatables/simple-datatables.js")" crossorigin="anonymous"></script>
    <script src="~/js/datatables/umd.js"></script>

    <script>




        $(function () {



            let dataTable = new simpleDatatables.DataTable("#datatable", {
                searchable: true,
                labels: {
                    "noRows": "No hay información",
                    perPage: "{select} Registros por página",
                    "info": "Mostrando {start} a {end} de {rows} Registros",
                    placeholder: "Filtro rápido...",
                },
                columns: [
                  
                    {
                        select: 6,
                        type: "date",
                        format: "DD/MM/YYYY"
                    }
                ]
            });

        });

    </script>



    <script type="text/javascript">

        $(document).ready(function () {

            $(".loader").fadeOut("slow");


            var defaultRangeValidator = $.validator.methods.range;
            $.validator.methods.range = function (value, element, param) {
                if (element.type === 'checkbox') {
                    // if it's a checkbox return true if it is checked
                    return element.checked;
                } else {
                    // otherwise run the default validation function
                    return defaultRangeValidator.call(this, value, element, param);
                }
            }

        });


        function onChangeAnio(obj) {

            let objTihs = $(obj);

     
            if (objTihs.children("option:selected").val() == "0") {
                $("#spanValidarAnio").html("Seleccionar un año");

            } else {
                $("#spanValidarAnio").html("");

            }

        }


        function onChangeTipoCriterio(obj) {

            let objTihs = $(obj);

            

            if (objTihs.children("option:selected").val() == "a") {
                $("#spanValidarFiltro").html("Seleccionar un tipo de criterio");

            } else {
                $("#spanValidarFiltro").html("");

            }

        }



        function onBuscarEmbarque() {

            let blValidar = true;

            if ($("#ddlAnio").children("option:selected").val() == "0") {
                $("#spanValidarAnio").html("Seleccionar un año");
                blValidar = false;
            } else {
                $("#spanValidarAnio").html("");

            }


            if ($("#ddlTipoCriterio").children("option:selected").val() == "a") {
                $("#spanValidarFiltro").html("Seleccionar un tipo de criterio");
                blValidar = false;

            } else {
                $("#spanValidarFiltro").html("");

            }

            if (blValidar) {

                $("#frmBuscarEmbarque").submit();
            }


        }

    </script>

}

