@model Web.Principal.Areas.GestionarEmbarques.Models.EmbarqueDetalleModel
@{
    ViewData["Title"] = "Detalle Embarque";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var listaCobros = (Web.Principal.Model.ListaCobrosModel)ViewBag.DatosCobros;
    var listaAgentes = ViewBag.Agentes as List<ViewModel.Datos.Embarque.AsignarAgente.UsuarioEntidadVM>;
}

@functions {
    string ParseHito(string strDatos)
    {
        string strEstado = string.Empty;

        if (string.IsNullOrEmpty(strDatos))
        {

            return strEstado;
        }
        else
        {
            strEstado = string.Concat(" - ", strDatos);
        }

        return strEstado;
    }
}


<link href="/css/estilo.css" rel="stylesheet" />

<input type="hidden" id="hidenUrlDireccionamiento" data-url="@Url.Action("Solicitud", "Direccionamiento", new { @codigo = Model.EmbarqueDetalle.KEYBLD, @servicio = Model.Servicio , @origen=Model.Origen })" />

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>


<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i class="bi bi-box-seam"></i></div>
                        Detalle de Embarque
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá revisar el detalle de la información del embarque seleccionado y realizar diferentes acciones.</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-lg-9">

            <div id="default">

                <input type="hidden" asp-for="@Model.EmbarqueDetalle.KEYBLD" value="@Model.EmbarqueDetalle.KEYBLD" />
                <input type="hidden" asp-for="@Model.EmbarqueDetalle.NROBL" value="@Model.EmbarqueDetalle.NROBL" />
                <input type="hidden" asp-for="@Model.EmbarqueDetalle.ETAPOD" value="@Model.EmbarqueDetalle.ETAPOD" />

                <input type="hidden" asp-for="@Model.EmbarqueDetalle.COD_INSTRUCCION" value="@Model.EmbarqueDetalle.COD_INSTRUCCION" />


                <div class="card mb-4">

                    <div class="card-header border-bottom">
                        <!-- Dashboard card navigation-->
                        <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                            <li class="nav-item me-1"><a class="nav-link active small" id="Datos-pill" href="#Datos" data-bs-toggle="tab" role="tab" aria-controls="Datos" aria-selected="true">Datos</a></li>
                            @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO) && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.IMPORTACION))
                            {
                                <li class="nav-item"><a class="nav-link small" id="cobros_pagar-pill" href="#cobros_pagar" data-bs-toggle="tab" role="tab" aria-controls="cobros_pagar" aria-selected="false">Cobros a Pagar </a></li>
                            }
                            <li class="nav-item"><a class="nav-link small" id="Estado-pill" href="#Estado" data-bs-toggle="tab" role="tab" aria-controls="Estado" aria-selected="false">Estado de Embarque</a></li>
                        </ul>



                    </div>

                    <div class="card-body">

                        <div class="tab-content" id="dashboardNavContent">

                            <!-- Dashboard Tab Pane 1-->
                            <div class="tab-pane fade show active" id="Datos" role="tabpanel" aria-labelledby="Datos-pill">

                                <div class="row">

                                    <div class="col-xl-12">

                                        <div class="row mb-3">
                                            <div class="col-6 col-sm-6  small ">

                                                <div class="row">

                                                    <div class="col-6 col-sm-6 ">


                                                        @Html.Raw("Nro. Orden de Trabajo:")

                                                    </div>
                                                    <div class="col-6 col-sm-6 ">

                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.NROOT" />

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-6 col-sm-6  small ">



                                                <div class="row">

                                                    <div class="col-6">


                                                        @Html.Raw("Numeración de Embarque: ")

                                                    </div>
                                                    <div class="col-6">

                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.NROBL" />

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-6 col-sm-6  small ">
                                                <div class="row">

                                                    <div class="col-6">

                                                        @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO) && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.EXPORTACION))
                                                        {
                                                            @Html.Raw("Nro. de Booking: ")
                                                        }
                                                        else if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO))
                                                        {
                                                            @Html.Raw("Nro. de Instrucción: ")
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("Nro. de Routing Order: ")
                                                        }
                                                    </div>
                                                    <div class="col-6">

                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.NRORO" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.Raw("Origen: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.ORIGEN" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.Raw("Condición: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.DES_CONDICION" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.Raw("Puerto de Carga: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.POL" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.Raw("Puerto de Descarga: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.POD" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @if (Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.EXPORTACION))
                                                        {
                                                            @Html.Raw("Fecha de Carga: ")
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("Fecha de Descarga: ")
                                                        }
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.ETAPOD" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.Raw("Equipamiento: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.EQUIPAMIENTO" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.Raw("Nro. de Manifiesto: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.MANIFIESTO" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.Raw("Nombre de la Línea: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.DES_LINEA" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-6  small ">
                                                <div class="row">
                                                    <div class="col-6">
                                                        @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO) && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.EXPORTACION))
                                                        {
                                                            @Html.Raw("Shipper: ")
                                                        }
                                                        else if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO) && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.EXPORTACION))
                                                        {
                                                            @Html.Raw("Shipper: ")
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("Consignatario: ")
                                                        }

                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.CONSIGNATARIO" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (
                                           (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO)
                                           && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.IMPORTACION)))
                                        {


                                            <div class="row mb-3">

                                                <div class=" col-6 col-sm-6  small ">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            @Html.Raw("Instrucción de Embarque: ")
                                                        </div>
                                                        <div class="col-6">
                                                            <input class="form-control  small" type="text" disabled value=" @Model.EmbarqueDetalle.DES_INSTRUCCION " />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6 col-sm-6  small ">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            @Html.Raw("Carga Peligrosa: ")
                                                        </div>
                                                        <div class="col-6">
                                                            @if (Model.EmbarqueDetalle.FLAG_CARGA_PELIGROSA == "1")
                                                            {
                                                                <input class="form-control  small" type="text" disabled value="SI" />
                                                            }
                                                            else
                                                            {
                                                                <input class="form-control  small" type="text" disabled value="NO" />
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- Dashboard Tab Pane 2-->
                            @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO) && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.IMPORTACION))
                            {
                                <div class="tab-pane fade" id="cobros_pagar" role="tabpanel" aria-labelledby="cobros_pagar-pill">
                                    <div id="divResultCobrosPorPagarAsignados">
                                        @if (Model.ExisteCobrosPagarRegistrado == true)
                                        {
                                            <partial name="_ResultadoCobrosPorPagarAsignados" model="@Model.listaCobrosPagar" />
                                        }
                                        else
                                        {
                                            <p> Aun no registro asignación de cobros a pagar. </p>
                                        }
                                    </div>
                                </div>
                            }

                            <div class="tab-pane fade" id="Estado" role="tabpanel" aria-labelledby="Estado-pill">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-6">
                                        <aside>
                                            <div class="contenedor-temario small">
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        @Html.Raw("Origen: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control " type="text" disabled value="@Model.EmbarqueDetalle.ORIGEN" />
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        @Html.Raw("Condición: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control" type="text" disabled value="@Model.EmbarqueDetalle.DES_CONDICION" />
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        @Html.Raw("Numeración de Embarque: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.NROBL" />
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">

                                                        @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO) && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.EXPORTACION))
                                                        {
                                                            @Html.Raw("Nro. de Booking: ")
                                                        }
                                                        else if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO))
                                                        {
                                                            @Html.Raw("Nro. de Instrucción: ")
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("Nro. de Routing Order: ")
                                                        }

                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.NRORO" />
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        @Html.Raw("Puerto de Carga: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.POL" />
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        @Html.Raw("Puerto de Descarga: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.POD" />
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        @Html.Raw("Fecha de Descarga: ")
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control  small" type="text" disabled value="@Model.EmbarqueDetalle.ETAPOD" />
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div>
                                    <div class="col-6">


                                        <aside>
                                            <div class="contenedor-temario small" id="temario">

                                                <ul class="lista">

                                                    @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO) &&
                                                Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.EXPORTACION))
                                                    {
                                                        <li id="aCreacionBooking"><a href="javascript:void()">Creación Nro. de Booking @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_CREATE_RO))</a></li>
                                                    }
                                                    else if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO))
                                                    {
                                                        <li id="aCreacionBooking"><a href="javascript:void()">Inicio Despacho @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_CREATE_RO))</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li id="aCreacionBooking"><a href="javascript:void()">Creación Routing Order @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_CREATE_RO))</a></li>
                                                    }

                                                    @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO))
                                                    {
                                                        <li id="aETD"><a href="javascript:void()">Ingreso de Carga a Deposito @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_ETD))</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li id="aETD"><a href="javascript:void()">ETD @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_ETD))</a></li>
                                                    }

                                                    @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO))
                                                    {
                                                        <li id="aTA"><a href="javascript:void()">Fecha de Vuelo @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_TRANSMISION_ADUANAS))</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li id="aTA"><a href="javascript:void()">Transmisión Aduanas @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_TRANSMISION_ADUANAS))</a></li>
                                                    }

                                                    @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO))
                                                    {
                                                        <li id="aETA"><a href="javascript:void()">Arribo a destino @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_ETA))</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li id="aETA"><a href="javascript:void()">ETA @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_ETA))</a></li>
                                                    }


                                                    @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.AEREO))
                                                    {
                                                        <li id="aICA"><a href="javascript:void()">Release AWB @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_ING_CARGA))</a></li>
                                                        <li id="aRCA"><a href="javascript:void()">Entrega a Puerta @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_RET_CARGA))</a></li>
                                                    }
                                                    else
                                                    {
                                                        @if (Model.EmbarqueDetalle.CONDICION.Trim().Equals(Utilitario.Constante.EmbarqueConstante.TipoCondicion.CONDICION_LCL))
                                                        {
                                                            <li id="aICA"><a href="javascript:void()">Ingreso de Carga al Almacen @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_ING_CARGA))</a></li>
                                                            <li id="aRCA"><a href="javascript:void()">Retiro de Carga al Almacen @Html.Raw(ParseHito(Model.EmbarqueDetalle.FEC_RET_CARGA))</a></li>
                                                        }
                                                    }
                                                </ul>

                                            </div>
                                        </aside>


                                        <!--<div class="timeline timeline-xs">-->
                                        <!-- Timeline Item 1-->
                                        <!--<div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text"></div>
                                                <div class="timeline-item-marker-indicator bg-primary"></div>
                                            </div>
                                            <div class="timeline-item-content">
                                                New order placed!
                                                <a class="fw-bold text-dark" href="#!">Order #2912</a>
                                                has been successfully placed.
                                            </div>
                                        </div>-->
                                        <!-- Timeline Item 2-->
                                        <!--<div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text"></div>
                                                <div class="timeline-item-marker-indicator bg-blue"></div>
                                            </div>
                                            <div class="timeline-item-content">
                                                Your
                                                <a class="fw-bold text-dark" href="#!">weekly report</a>
                                                has been generated and is ready to view.
                                            </div>
                                        </div>-->
                                        <!-- Timeline Item 3-->
                                        <!--<div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text"></div>
                                                <div class="timeline-item-marker-indicator bg-purple"></div>
                                            </div>
                                            <div class="timeline-item-content">
                                                New user
                                                <a class="fw-bold text-dark" href="#!">Valerie Luna</a>
                                                has registered
                                            </div>
                                        </div>-->
                                        <!-- Timeline Item 4-->
                                        <!--<div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text"></div>
                                                <div class="timeline-item-marker-indicator bg-yellow"></div>
                                            </div>
                                            <div class="timeline-item-content">Server activity monitor alert</div>
                                        </div>-->
                                        <!-- Timeline Item 5-->
                                        <!--<div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text"></div>
                                                <div class="timeline-item-marker-indicator bg-green"></div>
                                            </div>
                                            <div class="timeline-item-content">
                                                New order placed!
                                                <a class="fw-bold text-dark" href="#!">Order #2911</a>
                                                has been successfully placed.
                                            </div>
                                        </div>-->
                                        <!-- Timeline Item 6-->
                                        <!--<div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text"></div>
                                                <div class="timeline-item-marker-indicator bg-purple"></div>
                                            </div>
                                            <div class="timeline-item-content">
                                                Details for
                                                <a class="fw-bold text-dark" href="#!">Marketing and Planning Meeting</a>
                                                have been updated.
                                            </div>
                                        </div>-->
                                        <!-- Timeline Item 7-->
                                        <!--<div class="timeline-item">
                                                <div class="timeline-item-marker">
                                                    <div class="timeline-item-marker-text"></div>
                                                    <div class="timeline-item-marker-indicator bg-green"></div>
                                                </div>
                                                <div class="timeline-item-content">
                                                    New order placed!
                                                    <a class="fw-bold text-dark" href="#!">Order #2910</a>
                                                    has been successfully placed.
                                                </div>
                                            </div>
                                        </div>-->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="col-lg-3">
            <div class="nav-sticky">
                <div class="card card-header-actions">
                    <div class="card-header">
                        Acciones
                        <button class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>
                    </div>
                    <div class="card-body" style="padding:0rem;">
                        <ul class="list-group list-group-flush" id="stickyNav">
                            <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                <a class="nav-link" href="@Url.Action("ObtenerCobros", "Embarque", new { area = "GestionarEmbarques", id = Model.EmbarqueDetalle.KEYBLD, servicio = Model.Servicio })">
                                    <div class="d-flex align-items-center">
                                        <div class="nav-link-icon" style="margin-right:10px">
                                            <i class="bi bi-cash-coin">  </i>
                                        </div>
                                        Cobros por Embarque
                                    </div>
                                </a>
                            </li>
                            @if (Model.Servicio.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.MARITIMO) && Model.Origen.Equals(Utilitario.Constante.EmbarqueConstante.Trazabilidad.IMPORTACION))
                            {
                                <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                    <a class="nav-link" href="@Url.Action("ObtenerTracking", "Embarque", new { area = "GestionarEmbarques", id = Model.EmbarqueDetalle.KEYBLD, servicio = Model.Servicio })">


                                        <div class="d-flex align-items-center">
                                            <div class="nav-link-icon" style="margin-right:10px">
                                                <i class="bi bi-journal">  </i>
                                            </div>
                                            Tracking por Embarque
                                        </div>
                                    </a>
                                </li>

                                @if (Model.SoyAgenteAduanas == false && Model.EstaAsginadoAgenteAduanas.Equals("0") &&
                              Model.TipoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.CLIENTE_FINAL.ToString()))
                                {


                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="javascript: void()" onclick="VerificarAsignacionAgenteAduanas('@Model.EmbarqueDetalle.KEYBLD')" data-bs-toggle="modal" data-bs-target="#modal_asignar">

                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-check2-square">  </i>
                                                </div>

                                                Asignación de Agente de Aduanas
                                            </div>
                                        </a>
                                    </li>

                                }

                                <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                    <a class="nav-link" href="javascript:void()" data-bs-toggle="modal"
                                       data-bs-target="#modal_notificar_arribo" onclick="registrarNotificacionArribo()">


                                        <div class="d-flex align-items-center">
                                            <div class="nav-link-icon" style="margin-right:10px">
                                                <i class="bi bi-file-earmark-text">  </i>
                                            </div>
                                            Notificaci&oacute;n de Arribo
                                        </div>
                                    </a>
                                </li>

                                @if (Model.TipoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.CLIENTE_FORWARDER.ToString()))
                                {
                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="javascript:ValidacionAsignacionCobros('@Model.EmbarqueDetalle.KEYBLD','@Model.Servicio')">

                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-ui-checks">  </i>
                                                </div>
                                                Asignación de Cobros a Pagar
                                            </div>
                                        </a>
                                    </li>
                                }

                                @if (Model.MostrarOpcionRegistroFacturacionTercero == Utilitario.Constante.EmbarqueConstante.EmbarqueOpcionRegFacturacionTercero.SI)
                                {
                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="@Url.Action("RegistroIntruccionFacturaTercero", "Facturacion", new { area = "GestionarEmbarques", keyBl = Model.EmbarqueDetalle.KEYBLD, NroBL = Model.EmbarqueDetalle.NROBL })">
                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-file-earmark-spreadsheet"> </i>
                                                </div>
                                                Registro de Instrucción de Facturación a Tercero
                                            </div>
                                        </a>
                                    </li>
                                }
                                else if (Model.MostrarOpcionRegistroFacturacionTercero == Utilitario.Constante.EmbarqueConstante.EmbarqueOpcionRegFacturacionTercero.MENSAJE)
                                {
                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="javascript:void()" onclick="MostrarMensajeValidacionOtros('@Model.MensajeOpcionRegistroFacturacionTercero')">
                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-file-earmark-spreadsheet"> </i>
                                                </div>
                                                Registro de Instrucción de Facturación a Tercero
                                            </div>
                                        </a>
                                    </li>
                                }

                                @if (Model.EmbarqueDetalle.CONDICION.Trim().Equals("01"))
                                {
                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="javascript:GenerarSolicitudDireccionamiento('@Model.EmbarqueDetalle.KEYBLD', '@Model.EmbarqueDetalle.FLAG_PLAZO_ETA', '@Model.EmbarqueDetalle.FLAG_DIRECCIONAMIENTO_PERMANENTE', '@Model.Servicio')">
                                            <div class="item-icon" style="font-style:normal!important"> </div>

                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-box-seam">  </i>
                                                </div>
                                                Gestión de Direccionamientos
                                            </div>
                                        </a>
                                    </li>
                                }


                                if ((Model.TipoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.CLIENTE_FORWARDER.ToString())) &&
                                    Model.EmbarqueDetalle.FLAG_DESGLOSE.Equals("Y") && !Model.EmbarqueDetalle.CANTIDAD_DESGLOSE.Equals("0")
                                    )
                                {
                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="#" onclick="LiberarCarga('@Model.EmbarqueDetalle.KEYBLD')" data-bs-toggle="modal" data-bs-target="#modal_autorizar_liberacion_carga">

                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-clipboard-check">  </i>
                                                </div>

                                                Confirmación de Liberación de Carga
                                            </div>


                                        </a>
                                    </li>
                                }
                                else if ((Model.TipoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.CLIENTE_FORWARDER.ToString())))
                                {
                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="#" onclick="LiberarCargaMensaje('@Model.EmbarqueDetalle.KEYBLD','@Model.Servicio')" data-bs-toggle="modal">

                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-clipboard-check">  </i>
                                                </div>

                                                Confirmación de Liberación de Carga
                                            </div>


                                        </a>
                                    </li>
                                }
                                else if (Model.TipoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.CLIENTE_FINAL.ToString())
                                && Model.EmbarqueDetalle.TIPO_PADRE.ToUpper().Equals("MASTER") &&
                                Model.EmbarqueDetalle.FLAG_DESGLOSE.Equals("N") &&
                                (Model.EmbarqueDetalle.CANTIDAD_DESGLOSE.Equals("0")))
                                {
                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="#" onclick="LiberarCarga('@Model.EmbarqueDetalle.KEYBLD')" data-bs-toggle="modal" data-bs-target="#modal_autorizar_liberacion_carga">

                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-clipboard-check">  </i>
                                                </div>
                                                Confirmación de Liberación de Carga
                                            </div>
                                        </a>
                                    </li>
                                }



                                @if (Model.EmbarqueDetalle.CONDICION.Trim().Equals(Utilitario.Constante.EmbarqueConstante.TipoCondicion.CONDICION_FCL)) // 01 = fcl | 02 = LCL
                                {
                                    if (Model.EmbarqueDetalle.FLAG_LINEA_MEMO.Equals("1"))
                                    {
                                        <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                            <a class="nav-link" href="#" onclick="GestionarMemo('@Model.EmbarqueDetalle.KEYBLD', '@Model.Servicio')">

                                                <div class="d-flex align-items-center">
                                                    <div class="nav-link-icon" style="margin-right:10px">
                                                        <i class="bi bi-file-text">  </i>
                                                    </div>
                                                    Gestión de Memo
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }

                                @if (!Model.TipoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.AGENTE_ADUANAS.ToString()))
                                {

                                    <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                        <a class="nav-link" href="javascript:GestionarSolicitudFacturacion()">

                                            <div class="d-flex align-items-center">
                                                <div class="nav-link-icon" style="margin-right:10px">
                                                    <i class="bi bi-cart3"></i>
                                                </div>

                                                Solicitud de Facturación

                                            </div>

                                        </a>
                                    </li>
                                }

                            }

                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_asignar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Asignación de Agente de Aduanas</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row" id="divContentAsignacionAgenteAduanas">

                    @if (listaAgentes != null && listaAgentes.Count > 0)
                    {
                        <label class="col-sm-5 col-form-label pt-2">Agente de Aduanas</label>
                        <div class="col-sm-7">
                            <select id="ddlAgente" class="form-select small">
                                <option value="0" selected>Seleccionar un agente de aduanas</option>
                                @foreach (var agente in ViewBag.Agentes as List<ViewModel.Datos.Embarque.AsignarAgente.UsuarioEntidadVM>)
                                {
                                    <option data-correo="@agente.Correo" data-entidad="@agente.IdEntidad" value="@agente.IdUsuario">@agente.NombreEntidad (@agente.TipoDocumento @agente.NroDocumento)</option>
                                }
                            </select>
                        </div>

                    }
                    else
                    {
                        <label class="col-sm-5 col-form-label">No hay agentes disponibles.</label>
                    }

                </div>

                <div id="ResultMensaje" class="pt-2"></div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="btnAsignarAgenteAduanas" onclick="AsignarAgente('@ViewBag.Codigo', '@ViewBag.Anio', '@ViewBag.Filtro', '@Model.Servicio')">Asignar</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_notificar_arribo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notificaci&oacute;n de Arribo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div id="msj"> </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_aceptacion_condicion_emision" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aceptación de Condición de Emisión</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                @if (Model.EmbarqueDetalle.COD_INSTRUCCION.Equals("02") && ViewBag.MostrarExpressRelease)
                {

                    <div class="row">

                        <div class="col-sm-3" style="display:flex; justify-content:center; align-items:center">




                            <input type="checkbox" id="ckExpressRelease" />



                        </div>

                        <div class="col-sm-9">

                            <label> Acepto documentariamente trabajar la operación bajo condición “Express Release”. </label>

                        </div>


                    </div>


                }
                else if (Model.EmbarqueDetalle.COD_INSTRUCCION.Equals("02") && !ViewBag.MostrarExpressRelease)
                {
                    <label> Ya realizó la aceptación de trabajar bajo condición “Express Release”. </label>
                }
                else
                {
                    <label> Presentarse en caja para realizar trámite. </label>
                }
            </div>

            <div class="modal-footer">
                @if (Model.EmbarqueDetalle.COD_INSTRUCCION.Equals("02") && ViewBag.MostrarExpressRelease)
                {
                    <button class="btn btn-primary" onclick="AceptarExpressRelease()">Aceptar</button>
                }
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_autorizar_liberacion_carga" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación de Liberaci&oacute;n de Carga</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="divContentLiberarCarga">
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" id="btnLiberacionCarga" type="button" onclick="autorizarLiberacion()">Registrar</button>

                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_gestionar_memo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="dialogGestionMamo_Titulo">Gestión de Memo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div id="ResultMemo"></div>
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogOk" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Información</h5>

            </div>
            <div class="modal-body">
                <output id="outputMensajeOk"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="ActualizarForm()">Cerrar y actualizar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_confirmar_anular_cobro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anular Asignación de Cobros a Pagar</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="0" id="IdAsignado" />
                <div class="p-2" id="MensajeConfirmarAnularCobro"></div>
            </div>
            <div class="modal-footer">
                <button id="btnAnularCobro" class="btn btn-primary" type="button">Aceptar</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogAlerta" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">Alerta</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensaje"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogError" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeError"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_confirmar_direccionamiento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Direccionamiento Permanente</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                Estimado cliente, favor notar que tiene instrucción de direccionamiento al almacén @Model.EmbarqueDetalle.RAZON_SOCIAL_DEPOSITO_PERMANENTE.
                <br /> <br />
                Favor confirmar si para el presente embarque trabajará con esta instrucción, caso contrario deberá generar una solicitud de direccionamiento.
            </div>
            <div id="direccionamiento_buttons" class="modal-footer">
                <button class="btn btn-primary" onclick="RegistrarDireccionamientoPermanente('@Model.EmbarqueDetalle.KEYBLD', '@Model.EmbarqueDetalle.CODIGO_TAF_DEPOSITO_PERMANENTE', '@Model.EmbarqueDetalle.RAZON_SOCIAL_DEPOSITO_PERMANENTE')" type="button">Si</button>
                <button class="btn btn-secondary" onclick="IrSolicitudDireccionamiento()" type="button" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_mensaje_validacion_facturacion_tercero" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">

                @Model.MensajeOpcionRegistroFacturacionTercero

            </div>
            <div id="direccionamiento_buttons" class="modal-footer">

                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_mensaje_validacion_confirmar_liberacion_carga" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                Estimado Cliente: <br />
                Desglose no se encuentra en nuestra base de datos, favor comunicarse con su Ejecutivo Comercial o a la casilla @Model.EmbarqueDetalle.OPERADOR_MAIL para solicitar asistencia.
            </div>
            <div id="direccionamiento_buttons" class="modal-footer">

                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_mensaje_validacion_cobros_pagar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="outputMensajeCobros" class="modal-body p-2">
            </div>
            <div id="direccionamiento_buttons" class="modal-footer">

                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/js/datatables/simple-datatables.js")" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js")"></script>
    <script>

     $(document).ready(function () {

         $(".loader").fadeOut("slow");

         DataTableAnularAsignacionCobrosPagar();

         let strCreacionBoking = "@Model.EmbarqueDetalle.FEC_CREATE_RO";
         let strETD = "@Model.EmbarqueDetalle.FEC_ETD";
         let strTA = "@Model.EmbarqueDetalle.FEC_TRANSMISION_ADUANAS";
         let strETA = "@Model.EmbarqueDetalle.FEC_ETA";
         let strICA = "@Model.EmbarqueDetalle.FEC_ING_CARGA";
         let strRCA = "@Model.EmbarqueDetalle.FEC_RET_CARGA";

         let strCondicion="@Model.EmbarqueDetalle.CONDICION.Trim()";
         if (strCondicion == "@Utilitario.Constante.EmbarqueConstante.TipoCondicion.CONDICION_LCL") {

             if (strRCA != "") {

                 $("#aRCA").addClass("activo");

             } else if (strICA != "") {
                 $("#aICA").addClass("activo");
             }
             else if (strETA != "") {
                 $("#aETA").addClass("activo");
             }
             else if (strTA != "") {
                 $("#aTA").addClass("activo");
             }

             else if (strETD != "") {
                 $("#aETD").addClass("activo");
             }
             else if (strCreacionBoking != "") {
                 $("#aCreacionBooking").addClass("activo");
             }

         }
         else {
              if (strETA != "") {
                 $("#aETA").addClass("activo");
             }
             else if (strTA != "") {
                 $("#aTA").addClass("activo");
             }

             else if (strETD != "") {
                 $("#aETD").addClass("activo");
             }
             else if (strCreacionBoking != "") {
                 $("#aCreacionBooking").addClass("activo");
             }

         }

     });

     function DataTableAnularAsignacionCobrosPagar() {

         try {

             new simpleDatatables.DataTable("#dtAsignarCobrosPagar", {
                 searchable: true,
                 labels: {
                     "noRows": "No hay información",
                     perPage: "{select} Registros por página",
                     "info": "Mostrando {start} a {end} de {rows} Registros",
                     placeholder: "Filtro rápido...",
                 },
             });

         } catch (erro) {

         }


     }

     function DataTableLiberacionCarga() {

         try {





             new simpleDatatables.DataTable("#dtLiberacionCarga", {
                 searchable: true,
                 labels: {
                     "noRows": "No hay información",
                     perPage: "{select} Registros por página",
                     "info": "Mostrando {start} a {end} de {rows} Registros",
                     placeholder: "Filtro rápido...",
                 },
             });
         }
         catch (Erro) {


         }

     }


     function ConfirmarAnularCobro(IdAsignado, Concepto) {
         $('#IdAsignado').val(IdAsignado);
         $("#MensajeConfirmarAnularCobro").html("¿Desea anular el cobro por pagar por concepto de: "+ Concepto +"?");
         $('#modal_confirmar_anular_cobro').modal('show');
     }

     function ListarCobrosPorPagar(KeyBLD) {
         $.ajax({
             url: '@Url.Action("ListarCobrosPorPagarAsignados", "Embarque",new { area="GestionarEmbarques"})',
             data: { KeyBLD: KeyBLD},
             contentType: 'application/html; charset=utf-8',
             type: 'GET',
             dataType: 'html',
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
                 $("#divResultCobrosPorPagarAsignados").html("Procesando...")
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 $(".loader").fadeOut("slow");
                 $("#divResultCobrosPorPagarAsignados").html("Error inesperado, por favor volver a intentar mas tarde.");
             },
             success: function (response) {
                 $("#divResultCobrosPorPagarAsignados").html(response);

                 DataTableAnularAsignacionCobrosPagar();
                // feather.replace();
             },
             complete: function (data) {
                 $(".loader").fadeOut("slow");
             }
         });
     }

     $("#btnAnularCobro").click(function () {
         var formData = new FormData();
         var KeyBLD = $('#EmbarqueDetalle_KEYBLD').val();
         formData.append("Id", $('#IdAsignado').val());
         $.ajax({
             type: "POST",
             url:'@Url.Action("AnularCobroPorPagarAsignado", "Embarque", new { area= "GestionarEmbarques" })',
             data: formData,
             dataType: "json",
             contentType: false,
             processData: false,
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 $(".loader").fadeOut("slow");
             },
             success: function (result) {
                 if (result != null) {
                     if (result.codigo == 0) {
                         $('#modal_confirmar_anular_cobro').modal('hide');
                         ListarCobrosPorPagar(KeyBLD);
                     } else {
                         ShowAlertMensage('MensajeConfirmarAnularCobro', 'warning', '', result.mensaje, 0, null);
                     }
                 } else {
                     ShowAlertMensage('MensajeConfirmarAnularCobro', 'warning', '', 'Error inesperado, por favor volver a intentar mas tarde', 0, null);
                 }

             },
             complete: function (data) {

                 $(".loader").fadeOut("slow");

             }
         });


     });


     function GestionarMemo(KeyBL, pServicio) {

         $.ajax({
             type: "GET",
             url:'@Url.Action("GestionarMemo", "Memo", new { area= "GestionarEmbarques" })?KeyBL=' + KeyBL + '&servicio=' + pServicio ,
             contentType: 'application/json; charset=utf-8',
             dataType: 'json',
             beforeSend: function () {

                 $(".loader").fadeIn("slow");
             }
         })
         .done(function (result) {
             if (result.codigo == 0) {
                 location.href = '@Url.Action("Solicitud", "Memo", new { area= "GestionarEmbarques"})?codigo=' + KeyBL + '&servicio=' + pServicio;
             } else if (result.codigo == -1) {

                 $("#ResultMemo").html(result.mensaje);
                 $('#modal_gestionar_memo').modal('show');
                 $("#dialogGestionMamo_Titulo").html(result.titulo);

             } else {


                 $('#modal_gestionar_memo').modal('show');
                 $("#dialogGestionMamo_Titulo").html(result.titulo);
             }

         })
         .fail(function (xhr, status, error) {
             $("#dialogError").modal("show");
             $("#outputMensajeError").html(error);
         })
         .always(function () {
             $(".loader").fadeOut("slow");
         });
     }

     function GestionarSolicitudFacturacion(){

         var keyLb = '@Model.EmbarqueDetalle.KEYBLD';
         var servicio = '@Model.Servicio';

         debugger;
         $.ajax({
             type: "GET",
             url: "@Url.Action("GestionarSolicitudFacturacion", "Facturacion",  new { area = "GestionarEmbarques"})?keyBl=" + keyLb + "&servicio=" + servicio,
             contentType: 'application/json; charset=utf-8',
             dataType: 'json',
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             }
         })
             .done(function (result) {

             if (result.codigo == 0) {
                location.href = "@Url.Action("SolicitudFacturacion", "Facturacion", new { area= "GestionarEmbarques"})?keyBl=" + keyLb + "&servicio=@Model.Servicio&origen=@Model.Origen";
             } else if (result.codigo > 0) {

                 $("#dialogAlerta").modal("show");
                 $("#outputMensaje").html(result.mensaje);

             } else {

                 $("#dialogError").modal("show");
                 $("#outputMensajeError").html(result.mensaje);
             }

         })
         .fail(function (xhr, status, error) {
             $("#dialogError").modal("show");
             $("#outputMensajeError").html(error);
         })
         .always(function () {
             $(".loader").fadeOut("slow");
         });

     }


     function AsignarAgente(codigo, anio, filtro, servicio) {

         $('#ResultMensaje').html("");
         var idusuario = $("#ddlAgente option:selected").val();
         var correo = $("#ddlAgente option:selected").data("correo");
         var idEntidad = $("#ddlAgente option:selected").data("entidad");
         var textAgenteSelect = $("#ddlAgente option:selected").text();
         var formData = new FormData();

         formData.append("codigo", codigo);
         formData.append("IdUsuarioAsignado", idusuario);
         formData.append("Correo", correo);
         formData.append("IdEntidadAsignado", idEntidad);
         formData.append("servicio", servicio);

         $.ajax({
             type: "POST",
             url: "@Url.Action("AsignarAgente", "Embarque", new { area= "GestionarEmbarques" })",
             data: formData,
             contentType: false,
             processData: false,
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             },
             error: function (jqXHR, textStatus, errorThrown) {

                 $(".loader").fadeOut("slow");

             },
             success: function (result) {

                 if (result != null) {
                     if (result.codigo == 0) {

                         $('#modal_asignar').modal('hide');
                         $("#dialogOk").modal("show");
                         $("#outputMensajeOk").html(result.mensaje);

                     } else {
                         ShowAlertMensage('ResultMensaje', 'warning', '', result.mensaje, 0, null);
                     }

                 } else {

                 }

             },
             complete: function (data) {


                 $(".loader").fadeOut("slow");
             }
         });

     }

     function CloseModalAsignar() {
         $('#modal_asignar').modal('hide');



     }

     $("#btnVolver").click(function () {
         window.location.href = "@Url.Action("Buscar","Embarque",new { area="GestionarEmbarques"})";
     });

     $("#btnNotificar").click(function () {

         var formData = new FormData();
         formData.append("keyBld", $('#EmbarqueDetalle_KEYBLD').val());

         $.ajax({
             type: "POST",
             url: "/GestionarEmbarques/Embarque/ProgramarNotificaciones",
             data: formData,
             dataType: "json",
             contentType: false,
             processData: false
         })
             .done(function (msj) {

                 $("#msj").html(msj);

             })
             .fail(function (xhr, status, error) {

             })
             .always(function () {

             });

     });

     function CloseModalAsignar() {
         $('#modal_asignar').modal('hide');
     }

     $("#btnVolver").click(function () {
         window.location.href = "@Url.Action("Buscar","Embarque",new { area="GestionarEmbarques"})";
     });

     function registrarNotificacionArribo() {

         $(".loader").fadeIn("slow");

         var formData = new FormData();
         formData.append("keyBld", $('#EmbarqueDetalle_KEYBLD').val());
         formData.append("nroBl", $('#EmbarqueDetalle_NROBL').val());
         formData.append("anio", $('#EmbarqueDetalle_ETAPOD').val());

         $.ajax({
             type: "POST",
             url: "/GestionarEmbarques/Embarque/ProgramarNotificaciones",
             data: formData,
             dataType: "json",
             contentType: false,
             processData: false
         })
             .done(function (msj) {
                 $("#msj").html(msj);
             })
             .fail(function (xhr, status, error) {

             })
             .always(function () {
                 $(".loader").fadeOut("slow");
             });
     }



    function AceptarExpressRelease() {


        if ($("#ckExpressRelease").is(':checked')==false) {

            $("#dialogAlerta").modal("show");
            $("#outputMensaje").html("Favor de aceptar la condición de Express Release.");

            return;
        }


         var formData = new FormData();
         formData.append("keyBld", $('#EmbarqueDetalle_KEYBLD').val());
         formData.append("nroBl", $('#EmbarqueDetalle_NROBL').val());

         $.ajax({
             type: "POST",
             url: "/GestionarEmbarques/Embarque/AceptarExpressRelease",
             data: formData,
             dataType: "json",
             contentType: false,
             processData: false,
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             }

         }).done(function (msj) {

             $("#modal_aceptacion_condicion_emision").modal("hide");
             $("#dialogOk").modal("show");
             $("#outputMensajeOk").html(msj);

             }).fail(function (xhr, status, error) {

                $(".loader").fadeOut("slow");
                $("#dialogError").modal("show");
                $("#outputMensajeError").html(msj.mensaje);

            }).always(function () {

                $(".loader").fadeOut("slow");

            });


     }




     function AceptarParrafo() {

         $(".loader").fadeIn("slow");

         var formData = new FormData();
         formData.append("keyBld", $('#EmbarqueDetalle_KEYBLD').val());
         formData.append("nroBl", $('#EmbarqueDetalle_NROBL').val());
         formData.append("anio", $('#EmbarqueDetalle_ETAPOD').val());

         $.ajax({
             type: "POST",
             url: "/GestionarEmbarques/Embarque/AceptarParrafo",
             data: formData,
             dataType: "json",
             contentType: false,
             processData: false
         })
             .done(function (msj) {
                 $('#modal_aceptacion_condicion_emision').modal('hide');
                 $("#dialogOk").modal("show");
                 $("#outputMensajeOk").html(msj);
             })
             .fail(function (xhr, status, error) {

             })
             .always(function () {
                 $(".loader").fadeOut("slow");
             });
     }


     function VerificarAsignacionAgenteAduanas(keyBl) {

         $("#divContentAsignacionAgenteAduanas").show();
         $("#btnAsignarAgenteAduanas").show();

         var formData = new FormData();
         formData.append("KeyBl", keyBl);

         $.ajax({
             type: "POST",
             url: "@Url.Action("AsignarAgenteVerificar", "Embarque", new { area="GestionarEmbarques"})",
             data: formData,
             dataType: "json",
             contentType: false,
             processData: false,
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             }
         }).done(function (msj) {

             if (msj.codigo != 0) {
                 $("#divContentAsignacionAgenteAduanas").hide();
                 $("#btnAsignarAgenteAduanas").hide();
                 ShowAlertMensage('ResultMensaje', 'warning', '', msj.mensaje, 0, null);
             } else {
                 $('#ddlAgente option:eq(0)').prop('selected', true)
             }

         }).fail(function (xhr, status, error) {
             ShowAlertMensage('ResultMensaje', 'danger', '', msj.mensaje, 0, null);
             $(".loader").fadeOut("slow");

         }).always(function () {

             $(".loader").fadeOut("slow");

         });

     }


    function autorizarLiberacion() {



        if (ValidarLiberacionCarga()) {


            var formData = $('#frmLiberacionCarga').serialize();



            $.ajax({
                type: "POST",
                url: "@Url.Action("AutorizarLiberacion", "Embarque",new { area="GestionarEmbarques"})",
                data: formData,
                processData: true,
                beforeSend: function () {
                    $(".loader").fadeIn("slow");
                }

            }).done(function (msj) {

                if (msj.codigo == 0) {

                    $("#modal_autorizar_liberacion_carga").modal("hide");


                    $("#dialogOk").modal("show");

                    $("#outputMensajeOk").html(msj.mensaje);

                    // window.location.reload();

                } else {
                    $("#dialogAlerta").modal("show");
                    $("#outputMensaje").html(msj.mensaje);
                }

            }).fail(function (xhr, status, error) {

                $(".loader").fadeOut("slow");
                $("#dialogError").modal("show");
                $("#outputMensajeError").html(msj.mensaje);

            }).always(function () {

                $(".loader").fadeOut("slow");

             });

        }



    }


     function ValidarLiberacionCarga() {

         let validado = true;

         let strMensaje = "";

         let blSeleccionarAutorizacion = false;

           $(".cssCheckLiberacionCarga").each(function (index) {

             if ($(this).is(':checked')) {
                 blSeleccionarAutorizacion = true;
             }

         });

           if (blSeleccionarAutorizacion==false) {
             validado = false;
             strMensaje = strMensaje + "Debe selecionar un cliente";

             $("#dialogAlerta").modal("show");
             $("#outputMensaje").html("Debe seleccionar uno o más registros");
         }



         return validado;


     }

     function ActualizarForm() {

         window.location.reload();

     }

     function LiberarCarga(keybl) {

         $.ajax({
             type: "GET",
             url: "@Url.Action("LiberarCarga", "Embarque",new { area="GestionarEmbarques"})",
             data: { keyBl: keybl },
             contentType: 'application/html; charset=utf-8',
             type: 'GET',
             dataType: 'html',
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
                 $("#divContentLiberarCarga").html("Procesando...")
             },
         })
             .done(function (response) {

                 $("#divContentLiberarCarga").html(response);

                 DataTableLiberacionCarga();

                 ActualizarControles();

             })
             .fail(function (xhr, status, error) {
                 $(".loader").fadeOut("slow");
                 $("#divContentLiberarCarga").html(error)
             })
             .always(function () {

                 $(".loader").fadeOut("slow");
             });

     }

     function GenerarSolicitudDireccionamiento(KeyBL, FlagPlazoEta, FlagDireccionamientoPermanente, pServicio) {
         $.ajax({
             url: '@Url.Action("ValidarSolicitudDireccionamiento", "Direccionamiento",new { area="GestionarEmbarques"})',
             data: { KeyBL: KeyBL, servicio: pServicio},
             contentType: 'application/html; charset=utf-8',
             type: 'GET',
             dataType: 'json',
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 $(".loader").fadeOut("slow");
                 $("#outputMensajeError").html("Ocurrió un error inesperado, intente más tarde.");
                 $("#dialogError").modal("show");
             },
             success: function (response) {
                 $(".loader").fadeOut("slow");

                 if (response.codigo == -1 || response.codigo == 2) { // Ya existe la solicitud
                     $("#dialogAlerta").modal("show");
                     $("#outputMensaje").html(response.mensaje);
                 }
                 if (response.codigo == 0) {
                     if (FlagPlazoEta == "1") { // Cumple Plazo
                         if (FlagDireccionamientoPermanente == "1") {
                             $("#modal_confirmar_direccionamiento").modal("show");
                         } else {
                             IrSolicitudDireccionamiento();
                         }
                     } else {
                         $("#dialogAlerta").modal("show");
                         $("#outputMensaje").html("Favor considerar que no cumple con el plazo para gestionar direccionamiento por este medio.");
                     }
                 }
             },
             complete: function (data) {

             }
         });
     }

        function IrSolicitudDireccionamiento() {
            hidenUrlDireccionamiento = $("#hidenUrlDireccionamiento");
            window.location.href = hidenUrlDireccionamiento.data("url");
     }

     function RegistrarDireccionamientoPermanente(KeyBL, CodigoTaf, RazonSocial) {



         $.ajax({
             url: '@Url.Action("RegistrarDireccionamientoPermanente", "Direccionamiento",new { area="GestionarEmbarques"})',
             data: { KeyBL: KeyBL, CodigoTaf: CodigoTaf, RazonSocial: RazonSocial },
             contentType: 'application/html; charset=utf-8',
             type: 'GET',
             dataType: 'json',
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 $(".loader").fadeOut("slow");
                 $("#outputMensajeError").html("Ocurrió un error inesperado, intente más tarde.");
                 $("#dialogError").modal("show");
             },
             success: function (response) {

                 $(".loader").fadeOut("slow");
                 $("#modal_confirmar_direccionamiento").fadeOut("slow");

                 if (response.codigo == 1)
                 {

                     $("#dialogOk").modal("show");
                     $("#outputMensajeOk").html(response.mensaje);


                 } else
                 {
                      $("#dialogAlerta").modal("show");
                     $("#outputMensaje").html(response.mensaje);


                 }

             },
             complete: function (data) {

             }
         });
     }

     function CloseModalDireccionamientoPermanente() {
         $("#modal_confirmar_direccionamiento").modal("hide");
     }


     function MostrarMensajeValidacionOtros(mensaje) {

         $("#modal_mensaje_validacion_facturacion_tercero").modal("show");

     }

    function ValidacionAsignacionCobros(keyBl, pServicio) {
         $.ajax({
             url: '@Url.Action("ValidacionAsignacionCobros", "Embarque",new { area="GestionarEmbarques"})',
             data: { KeyBL: keyBl, servicio: pServicio},
             contentType: 'application/html; charset=utf-8',
             type: 'GET',
             dataType: 'json',
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 $(".loader").fadeOut("slow");
                 $("#outputMensajeError").html("Ocurrió un error inesperado, intente más tarde.");
                 $("#dialogError").modal("show");
             },
             success: function (response) {

                 if (response.codigo == 1) {

                     $("#modal_mensaje_validacion_cobros_pagar").modal("show");
                     $("#outputMensajeCobros").html(response.mensaje);
                 }
                 if (response.codigo == 0) {

                     window.location.href = "@Url.Action("AsignarCobroPagar","Embarque",new { area="GestionarEmbarques",  id= Model.EmbarqueDetalle.KEYBLD, servicio= Model.Servicio })";

                 }
             },
             complete: function (data) {
                 $(".loader").fadeOut("slow");
             }
         });
     }


     function LiberarCargaMensaje(keyBl, pServicio) {

         $.ajax({
             url: '@Url.Action("ValidarLiberacionCarga", "Embarque",new { area="GestionarEmbarques"})',
             data: { KeyBL: keyBl, servicio: pServicio},
             contentType: 'application/html; charset=utf-8',
             type: 'GET',
             dataType: 'json',
             beforeSend: function () {
                 $(".loader").fadeIn("slow");
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 $(".loader").fadeOut("slow");
                 $("#outputMensajeError").html("Ocurrió un error inesperado, intente más tarde.");
                 $("#dialogError").modal("show");
             },
             success: function (response) {

                 if (response.codigo == 0) {
                     $("#modal_mensaje_validacion_confirmar_liberacion_carga").modal("show");
                     $("#outputMensajeCobros").html(response.mensaje);
                 } else {


                     $("#outputMensajeError").html(response.mensaje);
                     $("#dialogError").modal("show");
                 }
             },
             complete: function (data) {
                 $(".loader").fadeOut("slow");
             }
         });



     }


    </script>




}
