@{
    ViewData["Title"] = "Gestión de Memo";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>


<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i class="bi bi-file-text">  </i></div>
                        Solicitud de Devolución de Cobro de Garantía
                    </h1>
                    <div class="page-header-subtitle"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col">

            <div id="default">

                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Generar Solicitud
                        <button class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>
                    </div>

                    <div class="card-body">
                        <div class="sbp-preview-content">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md">
                                    <form id="frmSolicitud" method="post" enctype="multipart/form-data">
                                        @foreach (var item in ViewBag.ListTipoDoc as SelectList)
                                        {
                                            string multiple = (item.Value.Equals("DM01")) ? "multiple" : "";
                                            string acept = (item.Value.Equals("DM01")) ? ".jpg, .jpeg" : ".pdf, .jpg, .jpeg";

                                            <div class="form-group row">
                                                <label for="File_@item.Value" class="col-sm-2 col-form-label small">@item.Text</label>

                                                <div class="col-sm-6">
                                                    <input data-val="true" data-val-required="Seleccione archivo." id="File_@item.Value" name="File_@item.Value" type="file" @multiple onchange="fileValidation(this,'@item.Value')" class="form-control small" accept="@acept">
                                                    <span data-valmsg-for="File_@item.Value" data-valmsg-replace="true" class="small text-danger"></span>
                                                    @if (item.Value.Equals("DM01"))
                                                    {

                                                        <div id="divContentDetalleArchivos" style="padding-left: 14px; max-height: 200px; overflow: visible auto;" class="row">
                                                            <ul id='lListImagenes' class="small">
                                                            </ul>
                                                        </div>

                                                    }
                                                </div>

                                                <div class="col-sm-2">
                                                    <label class="col-form-label small" id="lbTamano_@item.Value"> 0.00MB</label>

                                                </div>
                                            </div>

                                        }

                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label small">Total de Peso </label>

                                            <div class="col-sm-6">
               
                                                <label class="col-form-label small" id="lbTamano_total"> 0.00MB</label>
                                            </div>

                                            <div class="col-sm-2">
                                                <label class="col-form-label small" > </label>

                                            </div>
                                        </div>

                                        <input id="KeyBL" type="hidden" name="KeyBL" value="@ViewBag.KeyBL" />

                                        <div id="MensajeResult"></div>
                                        <hr />
                                        <div class="mb-2 text-right">
                                            <button class="btn btn-primary" type="submit">Registrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Sticky Navigation-->


        </div>

    </div>

</div>


<div class="modal fade" data-bs-backdrop="static" id="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelMemo_Titulo">Solicitud Creada</h5>
            </div>
            <div class="modal-body" id="mensaje"></div>
            <div class="modal-footer">
                <button id="btnCerrar" class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogAlerta" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">Alerta</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensaje" class="small"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogError" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeError" class="small"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Url.Content("~/js/datatables/simple-datatables.js")" crossorigin="anonymous"></script>
    <script src="~/js/datatables/umd.js"></script>

    <script src="@Url.Content("~/js/site.js")"></script>

    <script>

        var intTotalTamano = 0;
        var intTotalTamano_DM2 = 0;
        var intTotalTamano_DM3 = 0;

        $(document).ready(function () {
            $(".loader").fadeOut("slow");
        });

        $("#frmSolicitud").submit(function (e) {
            $('#MensajeResult').html("");
            e.preventDefault();
            var isValid = $('#frmSolicitud').valid();
            if (isValid) {
                $(".loader").fadeIn("slow");
                var form = $('#frmSolicitud')[0];
                var formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    url: "/GestionarEmbarques/Memo/Solicitud",
                    data: formData,
                    contentType: false,
                    processData: false
                })
                    .done(function (result) {
                        if (result != null) {
                            if (result.codigo == 0) {

                                $('#mensaje').html(result.mensaje);

                                $('#modal_mensaje').modal('show');
                                $("#modelMemo_Titulo").html(result.titulo);

                            } else if (result.codigo > 0) {
                                
                                $('#outputMensaje').html(result.mensaje);
                                $('#dialogAlerta').modal('show'); 


                            } else {
                                $('#outputMensajeError').html(result.mensaje);
                                $('#dialogError').modal('show');
                            }

                        } else {

                            $('#outputMensajeError').html(result.mensaje);
                            $('#dialogError').modal('show');


                        }
                    })
                    .fail(function (xhr, status, error) {

                    })
                    .always(function () {
                        $(".loader").fadeOut("slow");
                    });
            }
        });

        $("#btnCerrar").click(function () {
            $("#modelMemo_Titulo").html("Gestión de Memo");
            $('#modal_mensaje').modal('hide');
            window.location.href = "/GestionarEmbarques/Embarque/Detalle?codigo=" + $("#KeyBL").val();
        });

        $("#btnVolver").click(function () {
            window.location.href = "/GestionarEmbarques/Embarque/Detalle?codigo=" + $("#KeyBL").val();
        });

        function CargarControles(modalidad, flagCargaPeligrosa, flagLOI, TipoConsignatario) {


        }


        function fileValidation(objThis, itemValue) {

            let listNoPermitidos = [];
            let mensaje = "";
            let mensajeTotal = "";


            if (itemValue == "DM01") {
                intTotalTamano = 0;

                for (let i = 0; i < objThis.files.length; i++) {

                    var fileInput = objThis.files[i];
                    var filePath = fileInput.name;
                    var allowedExtensions = /(.jpg|.jpeg)$/i;

                    intTotalTamano = intTotalTamano + fileInput.size;

                    mensaje += "<li> <div class='row'> <div class='col-md-8'> " + fileInput.name + " </div> <div class='col-md-4' style=' text-align: right;'> " + parseFloat(Math.round((fileInput.size / 1024.00) * 100) / 100).toFixed(2) + "KB </div> </div></li>";

                    if (!allowedExtensions.exec(filePath)) {
                        listNoPermitidos.push("Extension no permitido= " + fileInput.name);
                    }
                }

                if ((intTotalTamano_DM3 + intTotalTamano + intTotalTamano_DM2) > 10485760) {

                    listNoPermitidos.push("Tamanio total = " + intTotalTamano + " Byte");
                    let totalMB = intTotalTamano / 1048576;
                    mensajeTotal = "<li>Excedió el máximo de tamaño permitido 10 MB, más los archivos adjunto tendría: " + parseFloat(Math.round(totalMB * 100) / 100).toFixed(2) + " MB</li>";
                }

                if (listNoPermitidos.length > 0) {

                    $('#outputMensaje').html("<ul>" + mensaje + mensajeTotal + "</ul>");
                    $('#dialogAlerta').modal('show');
                    $("#lListImagenes").html('');
                    document.getElementById("File_" + itemValue).value = "";
                    $("#lbTamano_" + itemValue).html("0.00MB");
                    intTotalTamano = 0;
                } else {

                    $("#divContentDetalleArchivos").css({ "padding-top": "5px", "padding-botton": "5px" });;
                    $("#lListImagenes").html(mensaje);
                    let totalMB = intTotalTamano / 1048576;
                    $("#lbTamano_" + itemValue).html(parseFloat(Math.round(totalMB * 100) / 100).toFixed(2) + "MB");


       

                }
            }
            else if (itemValue == "DM02"){

                intTotalTamano_DM2 = 0;
                listNoPermitidos = [];
                mensaje = "";

                let fileInput_DM2 = objThis.files[0];
                let filePath_DM2 = fileInput_DM2.name;
                let allowedExtensions_DM2 = /(.pdf|.jpg|.jpeg)$/i;

                intTotalTamano_DM2 = intTotalTamano_DM2 + fileInput_DM2.size;

                mensaje += "<li> <div class='row'> <div class='col-md-8'> " + fileInput_DM2.name + " </div> <div class='col-md-4' style=' text-align: right;'> " + parseFloat(Math.round((fileInput_DM2.size / 1024.00) * 100) / 100).toFixed(2) + "KB </div> </div></li>";

                if (!allowedExtensions_DM2.exec(filePath_DM2)) {
                    listNoPermitidos.push("Extension no permitido= " + fileInput_DM2.name);
                }


                if ((intTotalTamano_DM3 + intTotalTamano + intTotalTamano_DM2) > 10485760) {

                    listNoPermitidos.push("Tamanio total = " + intTotalTamano_DM2 + " Byte");
                    let totalMB = intTotalTamano_DM2 / 1048576;
                    mensajeTotal = "<li>Excedió el máximo de tamaño permitido 10 MB  <strong>SUMADO</strong> los archivos adjuntos tendría: " + parseFloat(Math.round(totalMB * 100) / 100).toFixed(2) + " MB</li>";
                }

                if (listNoPermitidos.length > 0) {

                    $('#outputMensaje').html("<ul>" + mensaje + mensajeTotal + "</ul>");
                    $('#dialogAlerta').modal('show');
              
                    document.getElementById("File_" + itemValue).value = "";
                    $("#lbTamano_" + itemValue).html("0.00MB");
                    intTotalTamano_DM2 = 0;
                } else {

                    let totalMB = intTotalTamano_DM2 / 1048576;
                    $("#lbTamano_" + itemValue).html(parseFloat(Math.round(totalMB * 100) / 100).toFixed(2) + "MB");

                }


            }
            else if (itemValue == "DM03") {

                intTotalTamano_DM3 = 0;
                listNoPermitidos = [];
                mensaje = "";

                let fileInput_DM3 = objThis.files[0];
                let filePath_DM3 = fileInput_DM3.name;
                let allowedExtensions_DM3 = /(.pdf|.jpg|.jpeg)$/i;

                intTotalTamano_DM3 = intTotalTamano_DM3 + fileInput_DM3.size;

                mensaje += "<li> <div class='row'> <div class='col-md-8'> " + fileInput_DM3.name + " </div> <div class='col-md-4' style=' text-align: right;'> " + parseFloat(Math.round((fileInput_DM3.size / 1024.00) * 100) / 100).toFixed(2) + "KB </div> </div></li>";

                if (!allowedExtensions_DM3.exec(filePath_DM3)) {
                    listNoPermitidos.push("Extension no permitido= " + fileInput_DM3.name);
                }


                if ((intTotalTamano_DM3 + intTotalTamano + intTotalTamano_DM2) > 10485760) {

                    listNoPermitidos.push("Tamanio total = " + intTotalTamano_DM3 + " Byte");
                    let totalMB = intTotalTamano_DM3 / 1048576;
                    mensajeTotal = "<li>Excedió el máximo de tamaño permitido 10 MB  <strong>SUMADO</strong> los archivos adjuntos tendría: " + parseFloat(Math.round(totalMB * 100) / 100).toFixed(2) + " MB</li>";
                }

                if (listNoPermitidos.length > 0) {

                    $('#outputMensaje').html("<ul>" + mensaje + mensajeTotal + "</ul>");
                    $('#dialogAlerta').modal('show');

                    document.getElementById("File_" + itemValue).value = "";
                    $("#lbTamano_" + itemValue).html("0.00MB");
                    intTotalTamano_DM3 = 0;

                } else {

                    let totalMB = intTotalTamano_DM3 / 1048576;
                    $("#lbTamano_" + itemValue).html(parseFloat(Math.round(totalMB * 100) / 100).toFixed(2) + "MB");


                }

            }

            let totalAllMB = (intTotalTamano_DM3 + intTotalTamano + intTotalTamano_DM2) / 1048576;
            $("#lbTamano_total").html(parseFloat(Math.round(totalAllMB * 100) / 100).toFixed(2) + "MB");


        }






    </script>
}
