@model Web.Principal.Areas.GestionarUsuarios.Models.EditarClienteModel
@{
    string Disabled = string.Empty;
    if (ViewData.ContainsKey("ModoLectura"))
        Disabled = ((bool)ViewData["ModoLectura"]) ? "disabled" : "";
}


@if (Model != null)
{

    <div class="card rounded-lg overflow-hidden mb-5">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>

                        <tr class="bg-dark text-white">
                            <th class="py-2" scope="col"></th>

                            @for (int i = 0; i < Model.Usuario.Perfiles.Count(); i++)
                            {
                        <th class="py-2" scope="col">@Model.Usuario.Perfiles[i].Nombre</th>

                            }

                        </tr>
                    </thead>
                    <tbody>


                        @for (int ii = 0; ii < Model.Grupos.Count(); ii++)
                        {

                            <tr>
                                <td class="p-3" scope="row">
                                    <label class=""><b>@Model.Grupos[ii].Nombre</b></label>
                                    <input type="hidden" asp-for="@Model.Grupos[ii].Nombre" />
                                </td>

                                @for (int i = 0; i < Model.Usuario.Perfiles.Count(); i++)
                                {
                                    <td>
                                    </td>
                                }
                            </tr>

                         

                            @for (int jj = 0; jj < Model.Grupos[ii].Menus.Count(); jj++)
                            {
                                <tr>
                                    <td>
                                        <label class="">
                                            @Model.Grupos[ii].Menus[jj].Nombre
                                        </label>

                                        <input type="hidden"  asp-for="@Model.Grupos[ii].Menus[jj].IdMenu" />
                                        <input type="hidden"  asp-for="@Model.Grupos[ii].Menus[jj].Nombre" />

                                    </td>


                                    @for (int i = 0; i < Model.Grupos[ii].Menus[jj].Perfiles.Count(); i++)
                                    {

                                <td class="text-center">



                                    @if (Model.Usuario.EsAdmin == 0)
                                    {

                                        if (Model.Grupos[ii].Menus[jj].Perfiles[i].Checked)
                                        {
                                            <input class="form-check-input border-primary" type="checkbox" asp-for="@Model.Grupos[ii].Menus[jj].Perfiles[i].Checked"  >
                                        }
                                        else
                                        {
                                            <input class="form-check-input border-primary" type="checkbox" asp-for="@Model.Grupos[ii].Menus[jj].Perfiles[i].Checked"  >
                                        }
                                    }
                                    else
                                    {
                                        <input class="form-check-input border-primary" type="checkbox" checked disabled asp-for="@Model.Grupos[ii].Menus[jj].Perfiles[i].Checked"  >
                                    }


                                 
                                    <input type="hidden" asp-for="@Model.Grupos[ii].Menus[jj].Perfiles[i].IdPerfil" />
                                    <input type="hidden" asp-for="@Model.Grupos[ii].Menus[jj].Perfiles[i].Nombre" />


                                </td>
                                    }

                                </tr>

                            }

                        }

                        @*<tr>

                                <th class="p-3" scope="row">Pricing</th>


                            </tr>

                            <tr class="bg-gray-100">
                                <th class="p-3" scope="row">User accounts</th>
                                <td class="p-3">1</td>
                                <td class="p-3">Up to 5</td>
                                <td class="p-3">Up to 50</td>
                            </tr>*@



                    </tbody>
                </table>
            </div>
        </div>
    </div>



}