@model IEnumerable<ViewModel.Datos.UsuarioRegistro.UsuarioVM>

<table  id="dtUsuariosExternos" class="table">
    <thead>
        <tr>
            <th class="border-gray-200" scope="col">Tipo Usuario</th>
            <th class="border-gray-200" scope="col">Nombre Completo</th>
            <th class="border-gray-200" scope="col">Correo</th>
            <th class="border-gray-200" scope="col">Perfil</th>
            <th class="border-gray-200" scope="col">Fecha de Creación</th>
            <th class="border-gray-200" scope="col">Estado</th>
            <th width="100px" class="border-gray-200" scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td >
               @if (item.EsAdmin)
               {
                <span>Principal</span>
               }
               else { 
            <span>Secundario</span>
               }
            </td>

            <td title="@item.getNombre()"><a href="@Url.Action("VerUsuario", "Cliente", new { area= "GestionarUsuarios", parkey=Security.Common.Encriptador.Instance.EncriptarTexto(item.IdUsuario.ToString())})" target="_self" title="Detalle del usuario">@item.getNombreCorto()</a></td>

            <td>@item.Correo</td>

            <td><a href="@Url.Action("VerPerfil","Perfil",new { area="GestionarAutorizacion", parkey=Security.Common.Encriptador.Instance.EncriptarTexto(item.IdPerfil.ToString())})" target="_blank" title="Detalle del perfil">@item.PerfilNombre </a></td>
         
            <td>@item.FechaRegistro</td>
            @if (item.Activo == true)
            {
                <td>  <span class="badge bg-light text-success">Activo</span>  </td>
            }
            else
            {
                <td>  <span class="badge bg-light text-danger">No activo</span> </td>
            }
            <td>
                <div class="dropdown no-caret">
                    <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownPeople6" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>

                    </button>
                    <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="dropdownPeople6">
                        <a class="dropdown-item" href="@Url.Action("EditarUsuario","Cliente", new { area="GestionarUsuarios",parkey=Security.Common.Encriptador.Instance.EncriptarTexto(item.IdUsuario.ToString())})" target="_self" title="Editar Usuario">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                        &nbsp;Editar</a>
                        <a class="dropdown-item" href="@Url.Action("VerUsuario","Cliente",new { area="GestionarUsuarios",parkey=Security.Common.Encriptador.Instance.EncriptarTexto(item.IdUsuario.ToString())})" target="_self" title="Ver Información">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                        &nbsp;Ver Informacion</a>
                        @if (!item.Activo)
                        {
                    <a class="dropdown-item"  href="javascript:Activar('@item.getNombreCorto()','@item.IdUsuario')" title="Ver Información">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                        &nbsp;Activar
                    </a>
                        }
                        else
                        {
                    <a class="dropdown-item" href="javascript:Desactivar('@item.getNombreCorto()','@item.IdUsuario')" title="Ver Información">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                        &nbsp;Desactivar</a>
                        }
                    <a class="dropdown-item" href="javascript:RestablecerContrasena('@item.getNombreCorto()','@item.IdUsuario')" title="Ver Información">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                        &nbsp;Restablecer Contraseña</a>
                    </div>
                </div>
            </td>

        </tr>
        }

    </tbody>
</table>