@model Web.Principal.Areas.GestionarUsuarios.Models.ListarUsuariosModel

<form asp-area="GestionarUsuarios" asp-action="FiltrarUsuarios" asp-controller="Cliente" id="frmClienteUsuarios" onsubmit="FiltrarUsuarios(this);return false;" method="post">

    <h5>Filtros para Busqueda</h5>
    <hr />
    <div class="sbp-preview-content">

        <input type="hidden" asp-for="@Model.IdEntidad" />


        <div class="row gx-3">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="@Model.Correo" class="small mb-1"></label>
                    <input asp-for="@Model.Correo" class="form-control" type="text" maxlength="50" placeholder=" Ingrese su correo" />
                </div>
            </div>

            <div class="col-md-4">
                <!-- Form Group (last name)-->
                <div class="mb-3">
                    <label asp-for="@Model.Nombres" class="small mb-1"></label>
                    <input asp-for="@Model.Nombres" class="form-control" type="text" placeholder="Ingrese su nombre" />
                </div>
            </div>
            <div class="col-4">
                <label asp-for="@Model.TipoUsuario" class="small mb-1"></label>
                <select asp-for="@Model.TipoUsuario"
                        class="form-select small">
                    <option value="-1">Todos</option>
                    <option value="1">Principal</option>
                    <option value="0">Secundario</option>
                </select>
            </div>

        </div>
        <div class="row gx-3">
          
            <div class="col-4">
                <label asp-for="@Model.isActivo" class="small mb-1"></label>
                <select asp-for="@Model.isActivo"
                        asp-items="Model.ListEstado"
                        class="form-select small">
                    <option value="-1">Todos</option>
                </select>
            </div>

            <div class="col-4">
                <label asp-for="@Model.IdPerfil" class="small mb-1"></label>

                <select class="form-select small" asp-for="@Model.IdPerfil">

                    <option value="0">Todos</option>
                    @foreach (var item in Model.Perfiles)
                    {
                        <option value="@item.Value"> @item.Text</option>
                    }
                </select>

            </div>
        </div>
    </div>

    <br />
    <button class="btn btn-primary" type="submit">Buscar</button>

</form>

<br />
<br />

<h5>Regitros Encontrados</h5>

<hr />

<div class="table-responsive table-billing-history" id="divClienteList">

    @if (Model.ListUsuarios.Usuarios != null && Model.ListUsuarios.Usuarios.Count() > 0)
    {
        <partial name="_ResultadoFiltro" model="@Model.ListUsuarios.Usuarios" />
    }
    else
    {
        @Html.Raw("No existen registros...");
    }

</div>

<input type="hidden" id="inputUsuarioSeleccionado" />

