@model Web.Principal.Areas.GestionarUsuarios.Models.ClienteDetalleModel
@{
    ViewData["Title"] = "Detalle Cliente";
    Layout = "~/Pages/Shared/_Layout.cshtml";



}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="user"></i></div>
                        Detalle Cliente
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá visualizar los datos del cliente.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">




    <div class="card card-header-actions mb-4">

        <div class="card-header">
            <!-- Dashboard card navigation-->
            <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                <li class="nav-item me-1 small"><a class="nav-link active" id="Datos-pill" href="#Datos" data-bs-toggle="tab" role="tab" aria-controls="Datos" aria-selected="true">Datos Generales</a></li>
                <li class="nav-item small"><a class="nav-link" id="cliente_usuarios-pill" href="#cliente_usuarios" data-bs-toggle="tab" role="tab" aria-controls="cliente_usuarios" aria-selected="false">Usuarios </a></li>
            </ul>

            <button class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>

        </div>

        <div class="card-body">
            <div class="tab-content" id="dashboardNavContent">
                <!-- Dashboard Tab Pane 1-->
                <div class="tab-pane fade show active" id="Datos" role="tabpanel" aria-labelledby="Datos-pill">

                    <div class="row">

                        <fieldset>

                            <legend class="small" style="font-weight:bold">Datos Generales</legend>


                            <div class="row gx-3 mb-3">

                                <div class="col-sm-4">
                                    <label class="small mb-1">Estado:</label>

                                    <input class="form-control  small" type="text" disabled value="@Model.Solicitud.NombreEstado" />

                                </div>



                                <div class="col-sm-4">
                                    <label class="small mb-1">@Html.Raw(Model.Solicitud.TipoDocumento + ": ") </label>
                                    <input class="form-control  small" type="text" disabled value="@Model.Solicitud.NumeroDocumento" />

                                </div>

                                <div class="col-sm-4">
                                    <label class="small mb-1">@Html.Raw("Razon Social: ")</label>
                                    <input class="form-control  small" type="text" disabled value="@Model.Solicitud.RazonSocial" />

                                </div>

                            </div>



                            <div class="row gx-3 mb-3">

                                <div class="col-sm-4">
                                    <label class="small mb-1">Fecha Registro: </label>

                                    <input class="form-control  small" type="text" disabled value="@Model.Solicitud.FechaRegistro" />

                                </div>

                                <div class="col-sm-4">
                                    <label class="small mb-1">Fecha Evaluación: </label>
                                    <input class="form-control  small" type="text" disabled value="@Model.Solicitud.FechaEvaluacion" />

                                </div>

                                <div class="col-sm-4">
                                    <label class="small mb-1">@Html.Raw("Usuario Evalua: ")</label>

                                    <input class="form-control  small" type="text" disabled value="@Model.Solicitud.UsuarioEvalua" />


                                </div>

                            </div>





                            <div class="row gx-3 mb-3">


                                <div class="col-sm-4">
                                    <label class="small mb-1"> @Html.Raw("Tipo(s) Entidad(es) : ")</label>
                                    @{

                                        <ul class="small">

                                            @foreach (var item in Model.Solicitud.ListaTipoEntidad)
                                            {


                                                <li>@item.NombreEntidad </li>


                                            }
                                        </ul>

                                        @for (var item = 0; item < Model.Solicitud.ListaTipoEntidad.Count(); item++)
                                        {

                                            <input type="checkbox"
                                                   data-codtipoentidad="@Model.Solicitud.ListaTipoEntidad.ElementAt(item).CodigoEntidad"
                                                   checked="checked"
                                                   style="display:none" class="cssTipoEntidad" />
                                        }

                                    }


                                </div>

                                <div class="col-sm-4">
                                    <label class="small mb-1"> @Html.Raw("Motivo de Rechazo: ")</label>
                                    <textarea class="form-control  small" disabled /> @Model.Solicitud.MotivoRechazo </textarea>
                                </div>


                            </div>



                        </fieldset>

                        <hr />
                        <fieldset>

                            <legend class="small" style="font-weight:bold">Datos de Representante legal</legend>

                            <div class="row gx-3 mb-3">

                                <div class="col-sm-4">
                                    <label class="small mb-1">@Html.Raw("Contacto : ")</label>
                                    <input class="form-control  small" type="text" disabled value=" @Html.Raw(string.Format("{0} {1} {2}", Model.Solicitud.NombreRepresentanteL, Model.Solicitud.ApellidoPatRepresentanteL, Model.Solicitud.ApellidoMatRepresentanteL))" />
                                  
                                </div>

                                <div class="col-sm-4">
                                    <label class="small mb-1">   @Html.Raw("Correo: ")</label>
                                    <input class="form-control  small" type="text" disabled value="@Model.Solicitud.Correo" />
                                  
                                </div>

                            </div>
                        </fieldset>

                        @if (Model.Solicitud.ListaTipoEntidad.ToList().Exists(x => x.CodigoEntidad.Equals(Utilitario.Constante.EmbarqueConstante.TipoEntidad.AGENTE_ADUANAS)))
                        {
                            <hr />

                            <fieldset>

                                <legend class="small" style="font-weight:bold">Datos de Agente de Aduanas</legend>


                                <div class="row gx-3 mb-3">

                                    <div class="col-sm-6">


                                        <input type="checkbox" disabled checked="@Model.Solicitud.ProcesoFacturacion" />
                                        <label class="small mb-1">   @Html.Raw("Habilitar Servicio de Proceso de Facturación")</label>
                                    </div>


                                    <div class="col-sm-6">

                                        <input type="checkbox" disabled checked="@Model.Solicitud.TerminoCondicionGeneralContracion" />
                                        <label class="small mb-1">   @Html.Raw("Términos y Condiciones Generales de Contratación - T&CGC")</label>
                                    </div>

                                </div>


                                <div class="row gx-3 mb-3">



                                    <div class="col-sm-4">
                                        <label class="small mb-1">   @Html.Raw("Código de Sunat")</label>
                                        <input class="form-control  small" type="text" disabled value="@Model.Solicitud.CodigoSunat" />

                                    </div>



                                </div>



                            </fieldset>
                        }

                        <hr />
                        <fieldset>

                            <legend class="small" style="font-weight:bold">Otros Datos</legend>


                            <div class="row gx-3 mb-3">

                                <div class="col-sm-6">
                                    <input type="checkbox" disabled checked="@Model.Solicitud.BrindaCargaFCL" />
                                    <label class="small">   @Html.Raw("Se Brindara Operaciones con Cargas FCL")</label>
                             


                                </div>



                                <div class="col-sm-6" id="divCadenaSuministro" style="display:none">
                                    <input type="checkbox" disabled checked="@Model.Solicitud.AcuerdoCadenaSuministro" />
                                    <label class="small">   @Html.Raw("Acuerdo de Seguridad de la Cadena de Suministro")</label>
                          

                                </div>

                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col-sm-6">
                                    <input type="checkbox" disabled checked="@Model.Solicitud.BrindaAgenciamientoAduanas" />
                                    <label class="small">   @Html.Raw("Se Brindara Agenciamiento de Aduanas")</label>

                                </div>


                                <div class="col-sm-6" id="divVeracidadInfo" style="display:none">
                                    <input type="checkbox" disabled checked="@Model.Solicitud.DeclaracionJuaradVerecidad" />
                                    <label class="small">   @Html.Raw("Declaración Jurada de Veracidad de la Información")</label>
                            

                                </div>


                            </div>


                            <div class="row gx-3 mb-3">

                                <div class="col-6 small" id="divEndose" style="display:none">
                                    <div class="row">
                                        <div class="col-6">
                                            @Html.Raw("Acuerdo para el Correcto Uso de los Endoses Electrónicos : ")
                                        </div>
                                        <div class="col-6">

                                            <input type="checkbox" disabled checked="@Model.Solicitud.AcuerdoEndoceElectronico" />


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        @{
                            if (Model.Solicitud.CodigoEstado.Equals(Utilitario.Constante.EmbarqueConstante.EstadoGeneral.PENDIENTE))
                            { <hr />
                                <button class="btn btn-sm btn-primary" type="button" onclick="procesarSolicitud()"> Aceptar </button>

                                <button class="btn btn-sm btn-primary" type="button" onclick="MostrarModalMotivoRechazo()"> Rechazar </button>
                            }
                        }

                    </div>

                </div>

                <div class="tab-pane fade" id="cliente_usuarios" role="tabpanel" aria-labelledby="cliente_usuario-pill">

                </div>

            </div>
        </div>

    </div>

</div>

<div class="modal fade" data-bs-backdrop="static" id="modalDesactivarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Desactivar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="small">Estas seguro de desactivar el usuario    <strong id="strongDesactivarUsuario"></strong>.</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">NO</button>
                <button id="DesactivarUsuario" onclick="DesactivarUser()" class="btn btn-primary" type="button">SI</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modalActivarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p class="small">Estas seguro de activar el usuario    <strong id="strongActivarUsuario"></strong>.</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">NO</button>
                <button id="btnActivarUsuario" onclick="ActivarUser()" class="btn btn-primary" type="button">SI</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modalrestablecerContrasenia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activar Usuario</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p class="small">Estas seguro de restablecer la contraseña del usuario <strong id="strongRestablecerContrasenia"></strong>.</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">NO</button>
                <button id="btnEliminar" onclick="RestablecerContrasenia()" class="btn btn-primary" type="button">SI</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogOk" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información</h5>

            </div>
            <div class="modal-body">
                <output id="outputMensajeOk" ></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="ActualizarForm()">Cerrar y Actualizar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogAlerta" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">Alerta</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensaje" ></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogError" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeError" ></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/js/datatables/simple-datatables.js")" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js")"></script>

    <script>
        var intIndicardorConsulta = 0;

        $(document).ready(function () {

            $(".loader").fadeOut("slow");


            $("#cliente_usuarios-pill").click(function () {

                if (intIndicardorConsulta == 0) {
                    listarUsuarios();
                }



            });


        });


        function listarUsuarios() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("ListarUsuarios", "Cliente",new { area="GestionarUsuarios"})/@Model.Entidad.IdEntidad",
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                beforeSend: function () {
                    $(".loader").fadeIn("slow");
                    $("#cliente_usuarios").html("Procesando...")
                },

                error: function (jqXHR, textStatus, errorThrown) {


                    $(".loader").fadeOut("slow");
                    $("#cliente_usuarios").html("");

                    $("#dialogPrincipalError").modal("show");

                    if (jqXHR.status == 401) {
                        $("#outputMensajePrincipalError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                    } else {
                        $("#outputMensajePrincipalError").html("Estimado usuario, ocurrio un error inesperado detalle: "+ textStatus + " - " + errorThrown);
                    }
                },
                success: function (response) {

                    $("#cliente_usuarios").html(response);

                    dataTableListarUsuarios();

                    intIndicardorConsulta = 1;

                },
                complete: function (data) {

                    $(".loader").fadeOut("slow");
                }

            });

        }

        function dataTableListarUsuarios() {

            try {

                new simpleDatatables.DataTable("#dtUsuariosExternos", {
                    searchable: true,
                    labels: {
                        "noRows": "No hay información",
                        perPage: "{select} Registros por página",
                        "info": "Mostrando {start} a {end} de {rows} Registros",
                        placeholder: "Filtro rápido...",
                    },
                });
            }
            catch (Erro) {


            }

        }

        function FiltrarUsuarios(oFormElement) {


            const formData = new FormData(oFormElement);

            try {
                    $.ajax({
                        url: oFormElement.action,
                        data: formData,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        beforeSend: function () {
                            $(".loader").fadeIn("slow");
                            $("#divClienteList").html("Procesando...")
                        },
                        error: function (jqXHR, textStatus, errorThrown) {


                            $(".loader").fadeOut("slow");
                            $("#divClienteList").html("")

                             $("#dialogPrincipalError").modal("show");

                                if (jqXHR.status == 401) {
                                    $("#outputMensajePrincipalError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                                } else {
                                    $("#outputMensajePrincipalError").html("Estimado usuario, ocurrio un error inesperado detalle: "+ textStatus + " - " + errorThrown);
                                }

                        },
                        success: function (response) {

                            $(".loader").fadeOut("slow");

                            $("#divClienteList").html(response);

                            dataTableListarUsuarios();



                        },
                        complete: function (data) {


                        }
                    });



            } catch (error) {

                $(".loader").fadeOut("slow");
                $("#divClienteList").html(error)


            }


        }



        function RestablecerContrasena(nombreUsuario, idUsuario) {
            $("#modalrestablecerContrasenia").modal("show");
            $("#strongRestablecerContrasenia").html(nombreUsuario);
            $("#inputUsuarioSeleccionado").val(idUsuario);
        }

        function Desactivar(nombreUsuario,idUsuario) {


            $("#modalDesactivarUsuario").modal("show");
            $("#strongDesactivarUsuario").html(nombreUsuario);
            $("#inputUsuarioSeleccionado").val(idUsuario);

        }

        function DesactivarUser() {


            var formData = new FormData();
            formData.append("IdUsuario", $('#inputUsuarioSeleccionado').val());

            $.ajax({
                type: "POST",
                url: "@Url.Action("DesactivarUsuario", "Usuario", new { area= "GestionarUsuarios" })",
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {

                    $(".loader").fadeIn("slow");

                },
                error: function (jqXHR, textStatus, errorThrown) {

                    $(".loader").fadeOut("slow");
                    $("#modalDesactivarUsuario").modal("hide");
                    $('#dialogError').modal('show');

                    if (jqXHR.status == 401) {
                        $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                    } else {
                        $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                    }
                },
                success: function (response) {
                    $(".loader").fadeOut("slow");
                    $("#modalDesactivarUsuario").modal("hide");

                    if (response.codigo == 0) {


                        $("#dialogOk").modal("show");
                        $("#outputMensajeOk").html(response.mensaje);
                    }
                    else if (response.codigo > 0) {
                        $("#dialogAlerta").modal("show");
                        $("#outputMensaje").html(response.mensaje);

                    }
                    else if (response.codigo < 0) {
                        $("#dialogError").modal("show");
                        $("#outputMensajeError").html(response.mensaje);

                    }

                },
                complete: function (data) {


                }
            });

        }

        function ActivarUser() {

               var formData = new FormData();
            formData.append("IdUsuario", $('#inputUsuarioSeleccionado').val());

            $.ajax({
                type: "POST",
                url: "@Url.Action("ActivarUsuario", "Usuario", new { area= "GestionarUsuarios" })",
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {

                    $(".loader").fadeIn("slow");

                },
                error: function (jqXHR, textStatus, errorThrown) {

                    $(".loader").fadeOut("slow");
                    $("#modalActivarUsuario").modal("hide");
                    $('#dialogError').modal('show');

                    if (jqXHR.status == 401) {
                        $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                    } else {
                        $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                    }
                },
                success: function (response) {
                    $(".loader").fadeOut("slow");
                    $("#modalActivarUsuario").modal("hide");

                    if (response.codigo == 0) {
                        $("#dialogOk").modal("show");
                        $("#outputMensajeOk").html(response.mensaje);
                    }
                    else if (response.codigo > 0) {
                        $("#dialogAlerta").modal("show");
                        $("#outputMensaje").html(response.mensaje);

                    }
                    else if (response.codigo < 0) {
                        $("#dialogError").modal("show");
                        $("#outputMensajeError").html(response.mensaje);

                    }

                },
                complete: function (data) {


                }
            });
        }

        function ActualizarForm() {
            window.location.reload();
        }

        function Activar(nombreUsuario, idUsuario) {

            $("#modalActivarUsuario").modal("show");
            $("#strongActivarUsuario").html(nombreUsuario);
            $("#inputUsuarioSeleccionado").val(idUsuario);

        }



        function RestablecerContrasenia() {

            var formData = new FormData();
            formData.append("IdUsuario", $('#inputUsuarioSeleccionado').val());

            $.ajax({
                type: "POST",
                url: "@Url.Action("RestablercContrasenia", "Usuario", new { area= "GestionarUsuarios" })",
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {

                    $(".loader").fadeIn("slow");

                },
                error: function (jqXHR, textStatus, errorThrown) {

                    $(".loader").fadeOut("slow");
                    $("#modalrestablecerContrasenia").modal("hide");
                    $('#dialogError').modal('show');

                    if (jqXHR.status == 401) {
                        $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                    } else {
                        $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                    }
                },
                success: function (response) {
                    $(".loader").fadeOut("slow");
                    $("#modalrestablecerContrasenia").modal("hide");

                    if (response.codigo == 0) {


                        $("#dialogOk").modal("show");
                        $("#outputMensajeOk").html(response.mensaje);
                    }
                    else if (response.codigo > 0) {
                        $("#dialogAlerta").modal("show");
                        $("#outputMensaje").html(response.mensaje);

                    }
                    else if (response.codigo < 0) {
                        $("#dialogError").modal("show");
                        $("#outputMensajeError").html(response.mensaje);

                    }

                },
                complete: function (data) {


                }
            });
        }

    </script>
}