@model IEnumerable<ViewModel.Datos.Perfil.MenuPerfilVM>
@{
    string Disabled = string.Empty;
    if (ViewData.ContainsKey("ModoLectura"))
        Disabled = ((bool)ViewData["ModoLectura"]) ? "disabled" : "";
}
@if (Model != null)
{
    int correlativoPerfil = 0;
    int correlativoMenu = 0;

    <input type="hidden" name="Perfiles[@correlativoPerfil].IdPerfil" value="1" />

    <ul class="list-group">
        @foreach (string grupo in Model.Select(x => x.Grupo).Distinct().ToList())
        {
            

            <li class="list-group-item">
                <b>@grupo</b>



                <ul class="list-group">

                  

                    @foreach (var item in Model.Where(y => y.Grupo.Equals(grupo)))
                    {
                        var correlativoVistaMenu = 0;

                        <li class="list-group-item">
                            <input type="hidden" name="Perfiles[@correlativoPerfil].Menus[@correlativoMenu].IdMenu" value="@item.IdMenu" />


                            @if (item.Permiso == 1)
                            {
                                <input class="form-check-input" type="checkbox" name="Menus" value="@item.IdMenu" checked @Disabled /> @item.Nombre

                                <ul class="list-group-dark">

                                    @foreach (var itemVista in item.VistaMenu)
                                    {
                                    <li class="list-group-item">
                                        <input type="hidden" name="Perfiles[@correlativoPerfil].Menus[@correlativoMenu].VistaMenu[@correlativoVistaMenu].IdVista" value="@itemVista.IdVista" />

                                        @if (itemVista.Checked)
                                        {
                                            <input class="form-check-input" type="checkbox" checked name="Perfiles[@correlativoPerfil].Menus[@correlativoMenu].VistaMenu[@correlativoVistaMenu].IdVistaChecked"
                                                   value="@itemVista.IdVista"
                                                   @Disabled> @itemVista.VistaNombre
                                        }
                                        else
                                        {
                                                <input class="form-check-input" type="checkbox" name="Perfiles[@correlativoPerfil].Menus[@correlativoMenu].VistaMenu[@correlativoVistaMenu].IdVistaChecked"
                                                       value="@itemVista.IdVista"
                                                       @Disabled> @itemVista.VistaNombre
                                        }



                                    </li>

                                            correlativoVistaMenu = correlativoVistaMenu + 1;
                                        }

                                </ul>

                            }
                            else
                            {

                                <input class="form-check-input" type="checkbox" name="Menus" value="@item.IdMenu" @Disabled /> @item.Nombre


                                <ul class="list-group">
                                    @foreach (var itemVista in item.VistaMenu)
                                    {
                                    <li class="list-group-item">
                                        <input type="hidden" name="Perfiles[@correlativoPerfil].Menus[@correlativoMenu].VistaMenu[@correlativoVistaMenu].IdVista" value="@itemVista.IdVista" />

                                        @if (itemVista.Checked)
                                        {
                                            <input class="form-check-input" type="checkbox" checked name="Perfiles[@correlativoPerfil].Menus[@correlativoMenu].VistaMenu[@correlativoVistaMenu].IdVistaChecked"
                                                   value="@itemVista.IdVista"
                                                   @Disabled> @itemVista.VistaNombre
                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="checkbox" name="Perfiles[@correlativoPerfil].Menus[@correlativoMenu].VistaMenu[@correlativoVistaMenu].IdVistaChecked"
                                                       value="@itemVista.IdVista"
                                                       @Disabled> @itemVista.VistaNombre
                                                }




                                    </li>
                                            correlativoVistaMenu = correlativoVistaMenu + 1;

                                        }
                                </ul>
                            }

                        </li>

                        correlativoMenu = correlativoMenu + 1;

                    }
                </ul>

            </li>

            

        }
    </ul>
}