@model Web.Principal.Areas.GestionarAutorizacion.Models.PerfilModel
@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                        Editar Perfil
                    </h1>
                    <div class="page-header-subtitle">Aquí puedes modificar el perfil.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Editar Perfil
            <button id="btnVolver" class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>
        </div>

        <div class="card-body">
            <div class="sbp-preview-content">

                <form id="frmPerfil">



                    <input type="hidden" asp-for="@Model.IdPerfil" />




                    <div class="row gx-3 mb-3">


                        <div class="col-md-6">
                            <label asp-for="@Model.Nombre" class="small mb-1"></label>
                            <input asp-for="@Model.Nombre" class="form-control" type="text" />
                        </div>


                        <div class="col-md-6">
                            <label class="small mb-1">Tipo</label>
                            <select asp-for="@Model.Tipo"
                                    asp-items=" ViewBag.ListTipo"
                                    class="form-select small">
                                <option value="0">Seleccionar</option>
                            </select>

                        </div>


                    </div>

                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label asp-for="@Model.Dashboard" class="small mb-1"></label>
                            <input asp-for="@Model.Dashboard" class="form-control" type="text" placeholder="Ingresar dashboard" />
                            <span asp-validation-for="@Model.Dashboard" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1">Usuario de Creación</label>
                            <input asp-for="@Model.UsuarioCrea" class="form-control" readonly type="text" />
                        </div>


                        <div class="col-md-6">
                            <label class="small mb-1">Fecha de Creación</label>
                            <input asp-for="@Model.FechaRegistro" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" class="form-control" readonly type="text" />
                        </div>
                    </div>


                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label a class="small mb-1">Ultimo Usuario que Modifica</label>
                            <input asp-for="@Model.UsuarioModifica" class="form-control" readonly type="text" />
                        </div>


                        <div class="col-md-6">
                            <label class="small mb-1">Ultima Fecha de Modificación</label>
                            <input asp-for="@Model.FechaModifica" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" class="form-control" readonly type="text" />
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1">Estado</label>
                            <fieldset class="border p-2">


                                <div class="form-check form-check-solid">
                                    <input asp-for="@Model.Activo" class="form-check-input small" id="Radio1" type="radio" value="true">
                                    <label class="form-check-label small" for="Radio1">Activo</label>
                                </div>

                                <div class="form-check form-check-solid">
                                    <input asp-for="@Model.Activo" class="form-check-input small" id="Radio2" type="radio" value="false">
                                    <label class="form-check-label small" for="Radio2">Inactivo</label>
                                </div>

                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1">Leyenda</label>

                            <ul class="small">

                                <li>[S] Sección</li>
                                <li>[G] Grupo</li>
                                <li>[M] Menu</li>
                                <li>[V] Vista</li>
                                <li>[O] Opción</li>
                            </ul>

                        </div>
                    </div>


                    <div class="row gx-3 mb-3">

                        <div class="col-md-12">
                            <label class="small mb-1">Accesos</label>
                            <fieldset class="border p-2 h-100">

                                <div style="height:250px;" class="overflow-auto small" id="MenuCheckBox">
                                    @await Html.PartialAsync("_MenusPorPerfil", ViewBag.Menus as List<ViewModel.Datos.Perfil.MenuPerfilVM>))
                                </div>
                            </fieldset>
                        </div>




                    </div>

                    <div id="MensajeResult"></div>

                    <hr />
                    <div class="mb-2 text-right">
                        <button id="btnGuardar" class="btn btn-primary" type="button">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" data-bs-backdrop="static" id="modalConfirmarActualizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Actualización de Perfil</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro de registrar los cambios?

            </div>
            <div class="modal-footer">
                <button onclick="registrarActualizacion()" class="btn btn-primary" type="button">SI</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="dialogOk" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información</h5>

            </div>
            <div class="modal-body">
                <output id="outputMensajeOk" ></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="ActualizarForm()">Cerrar y Actualizar</button></div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogAlerta" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">Alerta</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensaje" ></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogError" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeError" ></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>


        let outputMensajeOk = $("#outputMensajeOk");
        let outputMensajeError = $("#outputMensajeError");
        let outputMensaje = $("#outputMensaje");


        $(document).ready(function () {

            $(".loader").fadeOut("slow");


            $("#btnGuardar").click(function () {
                var isValid = $('#frmPerfil').valid();

                if (isValid) {
                    $("#modalConfirmarActualizacion").modal("show");
                } else {
                    $('#frmPerfil').validate();
                }
            });



        });

        function registrarActualizacion() {

            var form = $('#frmPerfil')[0];
            var formData = new FormData(form);

            try {


                var isValid = $('#frmPerfil').valid();

                if (isValid) {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("EditarPerfil", "Perfil", new { area= "GestionarAutorizacion" })",
                        data: formData,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $("#modalConfirmarActualizacion").modal("hide");
                            $(".loader").fadeIn("slow");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {


                            $(".loader").fadeOut("slow");

                            $("#dialogError").modal("show");
                            $("#outputMensajeError").html("Estimado usuario, ocurrio un error de sistema, por favor vovler a intentar más tarde. detalle del error: ", errorThrown);


                        },
                        success: function (response) {

                            $(".loader").fadeOut("slow");

                            if (response.codigo == 0) {

                                $("#dialogOk").modal("show");
                                $("#outputMensajeOk").html(response.mensaje);
                            }
                            else if (response.codigo > 0) {
                                $("#dialogAlerta").modal("show");
                                $("#outputMensaje").html(response.mensaje);

                            }
                            else if (response.codigo < 0) {
                                $("#dialogError").modal("show");
                                $("#outputMensajeError").html(response.mensaje);

                            }

                        },
                        complete: function (data) {

                        }

                    });

                }
                else {
                    $('#frmPerfil').validate();

                }
            }
            catch (error) {
                $("#dialogError").modal("show");
                $("#outputMensajeError").html("Estimado usuario, ocurrio un error de sistema, por favor vovler a intentar más tarde. detalle del error: ", error);
            }

        }

        function ActualizarForm() {

            window.location.href = "/GestionarAutorizacion/Perfil/ListarPerfiles";
        }

    </script>
}