@model Web.Principal.Areas.GestionarAutorizacion.Models.ListarPerfilesModel

@{
    ViewData["Title"] = "Listado de Perfiles";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                        Perfiles
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá gestionar los perfiles de usuario.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="get" enctype="multipart/form-data">

        <!-- Payment methods card-->
        <div class="card card-header-actions mb-4">
            <div class="card-header">
                Filtros para búsqueda
                <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
            </div>

            <div class="card-body">
                <div class="sbp-preview-content">
                    <div class="row col-12">
                        <div class="col-5">
                            <label class="small mb-1">Nombre</label>
                            <input class="form-control" asp-for="@Model.Nombre" type="text" placeholder="Ingresa nombre" />
                        </div>
                        <div class="col-4">
                            <label class="small mb-1">Estado</label>
                            <select class="form-select small" asp-for="@Model.Activo">
                                <option value="-1">Todos</option>
                                <option value="1">Activo</option>
                                <option value="0">No activo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Billing history card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header ">
            Registros encontrados
            @Html.ActionLink("Nuevo", "CrearPerfil", "Perfil", new { area = "GestionarAutorizacion" }, new { @class = "btn btn-sm btn-primary" })
        </div>
        <div class="card-body">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                @if (Model.Perfiles != null && Model.Perfiles.Count() > 0)
                {
                    <partial name="_ResultadoFiltro" model="@Model.Perfiles" />
                }
                else
                {
                    @Html.Raw("No existen registros...");
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ver Información</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ContentVerPerfil"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="modal_confirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-idperfil="0" id="ContentConfirmar"></div>
                <div id="ResultConfirmar"></div>
            </div>
            <div class="modal-footer">
                <button id="btnEliminar" class="btn btn-primary" type="button">Desactivar</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-bs-backdrop="static" id="modal_mensaje_result" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Perfil</h5>
            </div>
            <div class="modal-body">  Perfil desactivaod con éxito.  </div>
            <div class="modal-footer">
                <button id="btnCerrar" class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="cerrarActualizarPoup()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/js/datatables/simple-datatables.js")" type="text/javascript"></script>
    <script type="text/javascript">



        $(document).ready(function () {


            $(".loader").fadeOut("slow");

            let dataTable = new simpleDatatables.DataTable("#datatable", {
                searchable: false,
                labels: {
                    "noRows": "No hay información",
                    perPage: "{select} Registros por página",
                    "info": "Mostrando {start} a {end} de {rows} Registros",
                },
            });

        });


        function VerInformacion(IdPerfil) {
            $.ajax({
                type: "GET",
                url: "/GestionarAutorizacion/Perfil/VerPerfil?Id=" + IdPerfil,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .done(function (result) {
                    if (result != null) {
                        $('#ContentVerPerfil').html(result);
                        $('#modal_perfil').modal('show');
                    } else {

                    }
                })
                .fail(function (xhr, status, error) {

                })
                .always(function () {

                });
        }

        $("#btnEliminar").click(function () {
            $("#ResultConfirmar").html("");
            var IdPerfil = $('#ContentConfirmar').data('data-idperfil');
            var formData = new FormData();
            formData.append("IdPerfil", IdPerfil);
            $.ajax({
                type: "POST",
                url: "/GestionarAutorizacion/Perfil/EliminarPerfil",
                data: formData,
                contentType: false,
                processData: false
            })
                .done(function (result) {

                    if (result != null) {
                        if (result.codigo == 0) {
                            $('#modal_confirmar').modal('hide');
                            $('#modal_mensaje_result').modal('show');
                            
                        } else {
                            ShowAlertMensage('ResultConfirmar', 'warning', '', result.mensaje, 0, null);
                        }
                    } else {
                        ShowAlertMensage('ResultConfirmar', 'warning', '', "Error inesperado, volver a intentar por favor.", 0, null);
                    }
                })
                .fail(function (xhr, status, error) {

                })
                .always(function () {

                });

        });


        function cerrarActualizarPoup() {

            $('#modal_mensaje_result').modal('hide');
            location.reload();
        }

        function ConfirmarEliminar(IdPerfil, Nombre) {
            $("#ResultConfirmar").html("");
            $('#ContentConfirmar').data('data-idperfil', IdPerfil);
            $('#ContentConfirmar').html('¿Desea desactivar el perfil: <b>' + Nombre + '</b>?');
            $('#modal_confirmar').modal('show');
        }
    </script>
}