@model ViewModel.Datos.Perfil.PerfilVM
@{
    ViewData["Title"] = "Detalle Perfil";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    this.ViewData.Add("ModoLectura", true);
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                        Detalle de Perfil
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá visualizar los datos del perfil.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Detalle de Perfil
            <button id="btnVolver"  class="btn btn-sm btn-primary" type="button"  onclick="javascript: history.go(-1)" >Volver</button>
        </div>

        <div class="card-body">
            <div class="sbp-preview-content">

                <div class="row gx-3 mb-3">


                    <div class="col-md-6">
                        <label asp-for="@Model.Nombre" class="small mb-1"></label>
                        <input asp-for="@Model.Nombre" class="form-control" readonly type="text" />
                    </div>


                    <div class="col-md-6">
                        <label class="small mb-1">Tipo</label>
                        <input asp-for="@Model.TipoPerfil" class="form-control" readonly type="text" />
                    </div>
                </div>


                <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                        <label class="small mb-1">Usuario de Creación</label>
                        <input asp-for="@Model.UsuarioCrea" class="form-control" readonly type="text" />
                    </div>


                    <div class="col-md-6">
                        <label class="small mb-1">Fecha de Creación</label>
                        <input asp-for="@Model.FechaRegistro" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" class="form-control" readonly type="text" />
                    </div>
                </div>

                <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                        <label a class="small mb-1">Ultimo Usuario que Modifica</label>
                        <input asp-for="@Model.UsuarioModifica" class="form-control" readonly type="text" />
                    </div>


                    <div class="col-md-6">
                        <label class="small mb-1">Ultima Fecha de Modificación</label>
                        <input asp-for="@Model.FechaModifica" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" class="form-control" readonly type="text" />
                    </div>
                </div>

                <div class="row gx-3 mb-3">

                    <div class="col-md-6">

                        <label a class="small mb-1">Accesos</label>
                        <fieldset class="border p-2 h-100">

                            <div style="height:250px;" class="overflow-auto small" id="MenuCheckBox">
                                @await Html.PartialAsync("_MenusPorPerfil", Model.Menus)
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <label a class="small mb-1">Estado</label>
                        <fieldset class="border p-2  h-100">

                            <div class="form-check form-check-solid">
                                <input asp-for="@Model.Activo" class="form-check-input" id="Radio1" disabled type="radio" value="true">
                                <label class="form-check-label small" for="Radio1">Activo</label>
                            </div>
                            <div class="form-check form-check-solid">
                                <input asp-for="@Model.Activo" class="form-check-input" id="Radio2" disabled type="radio" value="false">
                                <label class="form-check-label small" for="Radio2">Inactivo</label>
                            </div>
                        </fieldset>

                    </div>



                </div>


                <div id="MensajeResult"></div>
                <hr />

                <div class="mb-2 text-right">
                    <button id="btnEditar" class="btn btn-primary" type="button">Editar</button>
                </div>

            </div>
            </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".loader").fadeOut("slow");


            $("#btnEditar").on("click", function (){

                window.location = "@Url.Action("EditarPerfil","Perfil",new { area="GestionarAutorizacion", Id=Model.IdPerfil})";

            });

        });

    </script>
}