@model ViewModel.Datos.Perfil.PerfilVM
@{
    ViewData["Title"] = "Detalle Perfil";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    this.ViewData.Add("ModoLectura", true);
}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                        Detalle de Perfil
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá visualizar los datos del perfil.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-n10">
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Detalle de Perfil
            <button id="btnVolver" class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>
        </div>

        <div class="card-body">
            <div class="sbp-preview-content">

                <div class="row gx-3 mb-3">


                    <div class="col-md-6">
                        <label asp-for="@Model.Nombre" class="small mb-1"></label>
                        <input asp-for="@Model.Nombre" class="form-control" readonly type="text" />
                    </div>


                    <div class="col-md-6">
                        <label class="small mb-1">Tipo</label>
                        <input asp-for="@Model.TipoPerfil" class="form-control" readonly type="text" />
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Estado</label>
                        @if (Model.Activo)
                        {
                            <input asp-for="@Model.Activo" class="form-control" readonly type="text" value="Activo" />

                        }
                        else
                        {
                            <input asp-for="@Model.Activo" class="form-control" readonly type="text" value="Inactivo" />
                        }

                    </div>

                    <div class="col-md-6">
                        <label class="small mb-1">Dashboard</label>
                        <input asp-for="@Model.Dashboard" class="form-control" readonly type="text" />



                    </div>

                </div>



                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Usuario de Creación</label>
                        <input asp-for="@Model.UsuarioCrea" class="form-control" readonly type="text" />
                    </div>


                    <div class="col-md-6">
                        <label class="small mb-1">Fecha de Creación</label>
                        <input asp-for="@Model.FechaRegistro" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" class="form-control" readonly type="text" />
                    </div>
                </div>


                <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                        <label a class="small mb-1">Ultimo Usuario que Modifica</label>
                        <input asp-for="@Model.UsuarioModifica" class="form-control" readonly type="text" />
                    </div>


                    <div class="col-md-6">
                        <label class="small mb-1">Ultima Fecha de Modificación</label>
                        <input asp-for="@Model.FechaModifica" asp-format="{0:dd'/'MM'/'yyyy HH:mm:ss}" class="form-control" readonly type="text" />
                    </div>
                </div>


                <div class="row gx-3 mb-3">
                   

                    <div class="col-md-6">
                        <label class="small mb-1">Leyenda</label>

                        <ul class="small">

                            <li>[S] Sección</li>
                            <li>[G] Grupo</li>
                            <li>[M] Menu</li>
                            <li>[V] Vista</li>
                            <li>[O] Opción</li>
                        </ul>

                    </div>

                </div>


                <div class="row gx-3 mb-3">

                    <div class="col-md-12">

                        <label a class="small mb-1">Accesos</label>
                        <fieldset class="border p-2 h-200">

                            <div style="height:250px;" class="overflow-auto small" id="MenuCheckBox">
                                @await Html.PartialAsync("_MenusPorPerfil", Model.Menus)
                            </div>
                        </fieldset>
                    </div>





                </div>


                <div id="MensajeResult"></div>
                <hr />

                <div class="mb-2 text-right">
                    <button id="btnEditar" class="btn btn-primary" type="button">Editar</button>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".loader").fadeOut("slow");


            $("#btnEditar").on("click", function (){

                window.location = "@Url.Action("EditarPerfil","Perfil",new { area="GestionarAutorizacion", parkey = Security.Common.Encriptador.Instance.EncriptarTexto(Model.IdPerfil.ToString())})";

            });

        });

    </script>
}