@page
@model IndexModel
@{
    ViewData["Title"] = "Transmares Group | Tarifario";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/estilo.css?version=1">
    <script src="https://kit.fontawesome.com/f26e94a7e8.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] </title>
</head>
<body>


    <div class="header">
        <div class="img_logo">
            <img src="~/img/logo_tp_blanco.png" alt="logo">
        </div>
    </div>
    <div class="caja_titulopágina">
        <div class="slider-frame">
            <ul>
                <li><img src="~/img/transmares4.jfif" alt="Cargando..."></li>
                <li><img src="~/img/transmares5.jpg" alt="Cargando..."></li>
                <li><img src="~/img/transmares2.jpg" alt="Cargando..."></li>
                <li><img src="~/img/transmares1.jpg" alt="Cargando..."></li>
            </ul>
        </div>
    </div>

    <div class="caja" style="display:none">
        <div class="cajaCuerpo">
            <h5 class="tituloFormulario" onClick="muestra_oculta('frmBuscar')">Filtros de Búsqueda <i class="fas fa-angle-down icono"></i></h5>
            <form id="frmBuscar" asp-route-returnUrl="@Model.ReturnUrl" method="get">
                <div class="formulario">

                    <div class="fila1 mg-3 ">
                        <label for="validationCustom01">Rubro </label>
                        <input type="text" class="form-control" asp-for="Input.Rubro">
                    </div>
                    <div class="fila1 mg-3 ">
                        <label for="validationCustom01">Servicios </label>
                        <input type="text" class="form-control" asp-for="Input.Servicio">
                    </div>
                    <div class="fila1 mg-3 ">
                        <label for="validationCustom01">Fecha Inicio </label>
                        <input type="date" class="form-control" asp-for="Input.FechaInicio">
                    </div>
                    <div class="fila1 mg-3 ">
                        <label for="validationCustom01">Fecha Fin </label>
                        <input type="date" class="form-control" asp-for="Input.FechaFin">
                    </div>
                </div>
                <button type="submit" class="btn btn-azul">Buscar</button>
            </form>
        </div>
    </div>



    <div class="cajaPrincipal">
        <div class="caja2">
            <div class="cajaCuerpo">
                <h5 class="cardTitulo" onClick="muestra_oculta('tablaTarifa')">Publicación de Tarifas <i class="fas fa-angle-down icono"></i> </h5>
                <div class="tablea_responsi" id="tablaTarifa">
                    <table id="tablax" class="tabla">
                        <thead class="tablaHeader">
                            <tr>
                                <th>Ítem</th>
                                <th>Rubro</th>
                                <th>Servicio</th>
                                <th>Tarifa - US$ (Sin IGV)</th>
                                <th>Vigencia</th>
                                <th>Tiempo de Atención</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int contado = 0;
                                if (Model.Input.TarifarioResult.Tarifarios != null)
                                {
                                    foreach (var item in Model.Input.TarifarioResult.Tarifarios)
                                    {
                                        contado = contado + 1;
                                        <tr>
                                            <td>@contado</td>
                                            <td>@item.Rubro</td>
                                            <td>@item.Servicio</td>
                                            <td>@item.Tarifa</td>
                                            <td>@item.FechaFin.ToString("dd/MM/yyyy")</td>
                                            <td>@item.TiempoAntencion</td>
                                            <td></td>
                                        </tr>

                                    }

                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <div class="tablaBoton">
        <button type="button" class="btn btn-azul" onclick="javascript: history.go(-1)">Cerrar</button>
    </div>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script src="~/js/script.js?version=1"></script>
    <script src="~/js/tabla.js?version=1"></script>
</body>
</html>