@model IEnumerable<ViewModel.Datos.UsuarioRegistro.UsuarioVM>

<table id="datatable" class="table">
    <thead>
        <tr>

            <th class="border-gray-200" scope="col">Correo</th>
            <th class="border-gray-200" scope="col">Nombre</th>
            <th class="border-gray-200" scope="col">Perfil</th>
            <th class="border-gray-200" scope="col">Estado</th>
            <th width="100px" class="border-gray-200" scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>       
            <a  href='@Url.Action("VerUsuario","UsuarioSecundario", new { area="GestionarUsuarios", parkey=Security.Common.Encriptador.Instance.EncriptarTexto(item.IdUsuario.ToString())})' title="Ver Usuario">@item.Correo
                </a>
                </td>
            <td>@item.getNombre()</td>
            <td>@item.PerfilNombre</td>
            <td>
                @if (item.Activo == true)
                {
                    <span class="badge bg-light text-success">Activo</span>
                }
                else
                {
                    <span class="badge bg-light text-danger">No activo</span>
                }
            </td>
            <td>

                      <div class="dropdown no-caret">
                    <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownPeople6" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="more-vertical"></i></button>
                    <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="dropdownPeople6">
                        <a class="dropdown-item" href='@Url.Action("EditarUsuario","UsuarioSecundario", new { area="GestionarUsuarios",Id=item.IdUsuario })' title="Editar Usuario"><i data-feather="edit"></i> &nbsp;Editar</a>
                        <a class="dropdown-item" href="@Url.Action("VerUsuario","UsuarioSecundario",new { area="GestionarUsuarios", Id=item.IdUsuario})" title="Ver Información"><i data-feather="info"></i> &nbsp;Ver Informacion</a>
                    </div>
                </div>


                
            </td>
        </tr>
        }

    </tbody>
</table>