@model Web.Principal.Areas.GestionarEmbarques.Models.DireccionamientoSolicitud
@{
    ViewData["Title"] = "Solicitud Previo Direccionamiento";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="loader" style="">
    <div class='lds-ripple' id='divLoadTipoEntidad'><div></div><div></div></div>
</div>

<input type="hidden" id="hidenDetalleEmbarque" data-url="@Url.Action("Detalle","Embarque", new { area="GestionarEmbarques",@parkey=Model.ParKey})">

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i class="bi bi-box-seam">  </i></div>
                        Gestión de Direccionamientos
                    </h1>
                    <div class="page-header-subtitle">Con esta opción usted podrá completar los datos para registrar la solicitud.</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col">

            <div id="default">

                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Nueva solicitud
                        <button class="btn btn-sm btn-primary" type="button" onclick="javascript: history.go(-1)">Volver</button>
                    </div>

                    <div class="card-body">
                        <div class="sbp-preview-content">
                            <div class="row">
                                <div class="col-md">
                                    <form id="frmSolicitud" method="post" class="small" enctype="multipart/form-data">
                                        <div class="form-group row">
                                            <label asp-for="Modalidad" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <select asp-for="Modalidad" name="modalidad" class="form-select" id="ddlModalidad"
                                                        asp-items="Model.ListModalidad"
                                                        onchange="CargarControles(this.value, '@Model.FlagCargaPeligrosa', '@Model.FlagLOI', '@Model.CodTipoConsignatario', '@ViewBag.IdPerfil')">
                                                </select>
                                                <span asp-validation-for="Modalidad" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label id="lblRuc" asp-for="RUC" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input id="txtRuc" asp-for="RUC" class="form-control mb-2" type="text" placeholder="Ingresar RUC" aria-label="Search">
                                                    <button id="btnBuscarEntidad" type="button" class="input-group-text mb-2">
                                                        <i data-feather="search"></i>
                                                    </button>
                                                </div>
                                                @*<input id="txtRuc" asp-for="RUC" class="form-control" type="text" placeholder="Ingresar RUC" />*@
                                                <span asp-validation-for="RUC" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label id="lblRazonSocial" asp-for="RazonSocial" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input id="txtCodigoTaf" asp-for="CodigoTaf" class="form-control" type="hidden" />
                                                <input id="txtRazonSocial" asp-for="RazonSocial" class="form-control" type="text" readonly />
                                                <span asp-validation-for="RazonSocial" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div id="ctrlCodigoAlmacen" class="form-group row">
                                            <label id="lblCodigoAlmacen" asp-for="CodigoAlmacen" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input id="txtCodigoAlmacen" asp-for="CodigoAlmacen" class="form-control" type="text" readonly />
                                                <span asp-validation-for="CodigoAlmacen" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div id="ctrlMSDS" class="form-group row">
                                            <label asp-for="FileMSDS" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input asp-for="FileMSDS" type="file" class="form-control small" accept=".pdf, .jpg, .jpeg">
                                                <span asp-validation-for="FileMSDS" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div id="ctrlSeguridad" class="form-group row">
                                            <label asp-for="FileSeguridad" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input asp-for="FileSeguridad" type="file" class="form-control small" accept=".pdf, .jpg, .jpeg">
                                                <span asp-validation-for="FileSeguridad" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div id="ctrlLOI" class="form-group row">
                                            <label asp-for="FileLOI" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input asp-for="FileLOI" type="file" class="form-control small" accept=".pdf, .jpg, .jpeg">
                                                <span asp-validation-for="FileLOI" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="FileLetter" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input asp-for="FileLetter" type="file" class="form-control small" accept=".pdf, .jpg, .jpeg">
                                                <span asp-validation-for="FileLetter" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div id="ctrlCartaGarantia" class="form-group row">
                                            <label asp-for="FileCartaGarantia" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input asp-for="FileCartaGarantia" type="file" class="form-control small" accept=".pdf, .jpg, .jpeg">
                                                <span asp-validation-for="FileCartaGarantia" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div id="ctrlCartaResponsabilidad" class="form-group row">
                                            <label asp-for="FileCartaResponsabilidad" class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-6">
                                                <input asp-for="FileCartaResponsabilidad" type="file" class="form-control small" accept=".pdf, .jpg, .jpeg">
                                                <span asp-validation-for="FileCartaResponsabilidad" class="small text-danger"></span>
                                            </div>
                                        </div>
                                        <div id="MensajeResult"></div>
                                        <hr />
                                        <div class="mb-2 text-right">
                                            <button class="btn btn-primary" type="submit">Registrar</button>
                                        </div>
                                        <input type="hidden" asp-for="KeyBL" />
                                        <input type="hidden" asp-for="NroBL" />
                                        <input type="hidden" asp-for="FlagLOI" />
                                        <input type="hidden" asp-for="FlagCargaPeligrosa" />
                                        <input type="hidden" asp-for="CodTipoConsignatario" />
                                        <input type="hidden" asp-for="VenciemientoPlazo" />
                                        <input type="hidden" asp-for="FlagDireccionamientoPermanente" />
                                        <input type="hidden" asp-for="Almacen" />
                                        <input type="hidden" asp-for="CantidadCtn" />
                                        <input type="hidden" asp-for="NaveViaje" />
                                        <input type="hidden" asp-for="Consignatario" />

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Sticky Navigation-->


        </div>

    </div>

</div>


<div class="modal fade" data-bs-backdrop="static" id="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Solicitud Creada</h5>
            </div>
            <div class="modal-body" id="mensaje"></div>
            <div class="modal-footer">
                <button id="btnCerrar" class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogOk" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Solicitud Creada</h5>

            </div>
            <div class="modal-body">
                <output id="outputMensajeOk"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="ActualizarForm()">Cerrar</button></div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogAlerta" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">Alerta</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensaje"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogError" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <output id="outputMensajeError"></output>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Url.Content("~/js/site.js")"></script>

    <script>

        $(document).ready(function () {
            $(".loader").fadeOut("slow");
            CargarControles('1', '@Model.FlagCargaPeligrosa', '@Model.FlagLOI', '@Model.CodTipoConsignatario', '@ViewBag.IdPerfil');
        });

        $("#txtRuc").keypress(function (event) {
            if (event.key === "Enter") {
                ObtenerEntidad(this.value);
            }
        });

        $('#txtRuc').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        $("#btnBuscarEntidad").click(function (event) {
            var NroDocumento = $("#txtRuc").val();
            ObtenerEntidad(NroDocumento);
        });

        $("#frmSolicitud").submit(function (e) {

            $('#MensajeResult').html("");

            e.preventDefault();
            var isValid = $('#frmSolicitud').valid();
            if (isValid) {
                
                var form = $('#frmSolicitud')[0];
                var formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    url: "/GestionarEmbarques/Direccionamiento/Solicitud",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(".loader").fadeIn("slow");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $(".loader").fadeOut("slow");

                        $("#dialogError").modal("show");
                        if (jqXHR.status == 401) {
                            $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                        } else {
                            $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                        }

                    },
                    success: function (result) {
                        $(".loader").fadeOut("slow");
                        if (result != null) {
                            if (result.codigo == 0) {
                                $('#mensaje').html(result.mensaje);
                                $('#modal_mensaje').modal('show');
                            } else {
                                $("#dialogAlerta").modal("show");
                                $("#outputMensaje").html(response.mensaje);
                            }
                        } else {
                            $("#dialogError").modal("show");
                            $("#outputMensajeError").html(response.mensaje);
                        }
                    },
                    complete: function (data) {


                    }
                });
            }
        });

        $("#btnCerrar").click(function () {
            $('#modal_mensaje').modal('hide');
            let urlDetalleEmbarque = $("#hidenDetalleEmbarque");
            window.location.href = urlDetalleEmbarque.data("url");
        });

        $("#btnVolver").click(function () {
            let urlDetalleEmbarque = $("#hidenDetalleEmbarque");
            window.location.href = urlDetalleEmbarque.data("url");
        });

        function ObtenerEntidad(NroDocumento) {

            var CodModalidad = $("#ddlModalidad").val();

            var objParametro = new Object();
            objParametro.CodModalidad = CodModalidad;
            objParametro.NroDocumento = NroDocumento;


            $.ajax({
                type: "GET",
                url: "@Url.Action("ObtenerEntidad", "Direccionamiento", new { area= "Gestionarembarques" })",
                data: objParametro,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    $(".loader").fadeIn("slow");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".loader").fadeOut("slow");

                    $("#dialogError").modal("show");
                    if (jqXHR.status == 401) {
                        $("#outputMensajeError").html("@Utilitario.Constante.SistemaConstante.Error.YouDoNotHaveAccess");
                    } else {
                        $("#outputMensajeError").html("Estimado usuario, ocurrio un error inesperado detalle: " + textStatus + " - " + errorThrown);
                    }

                },
                success: function (result) {
                    $(".loader").fadeOut("slow");

                    if (result.codigo == 0) {
                        $("#txtCodigoTaf").val(result.objeto.codigoClienteFacturarTercero);
                        $("#txtRazonSocial").removeAttr('readonly').val(result.objeto.nombresClienteFacturarTercero).prop("readonly", true);
                        $("#txtCodigoAlmacen").removeAttr('readonly').val(result.objeto.codigoAlmacen).prop("readonly", true);
                    } else {
                        $("#txtCodigoTaf").val(0);
                        $("#txtRazonSocial").removeAttr('readonly').val("").prop("readonly", true);
                        $("#txtCodigoAlmacen").removeAttr('readonly').val("").prop("readonly", true);
                    }
                },
                complete: function (data) {


                }
            });
        }

        function CargarControles(modalidad, flagCargaPeligrosa, flagLOI, TipoConsignatario, IdPerfil) {
            $('#frmSolicitud')[0].reset();
            $("#ddlModalidad").val(modalidad).prop('selected', true);
            switch (modalidad) {
                case "1": // Diferido
                    $("#lblRuc").text("RUC Almacén");
                    $("#lblRazonSocial").text("Razón Social Almacén");
                    $("#ctrlCodigoAlmacen").show();
                    $("#ctrlMSDS, #ctrlSeguridad").hide();
                    break;
                case "2": // Sada DD
                    $("#lblRuc").text("RUC Receptor de Carga");
                    $("#lblRazonSocial").text("Razón Social Receptor de Carga");
                    $("#ctrlCodigoAlmacen").hide();
                    if (flagCargaPeligrosa == "1")
                        $("#ctrlMSDS, #ctrlSeguridad").show();
                    else
                        $("#ctrlMSDS, #ctrlSeguridad").hide();
                    break;
                case "3": // Sada DLL
                    $("#lblRuc").text("RUC Almacén");
                    $("#lblRazonSocial").text("Razón Social Almacén");
                    $("#ctrlCodigoAlmacen").show();
                    $("#ctrlMSDS, #ctrlSeguridad").hide();
                    break;
            }

            if (flagLOI == "1")
                $("#ctrlLOI").show();
            else
                $("#ctrlLOI").hide();

            if (TipoConsignatario == "WS") {
                //$("#ctrlCartaResponsabilidad").show();
                $("#ctrlCartaGarantia").hide();
            } else if (TipoConsignatario == "CL") {
                $("#ctrlCartaGarantia").show();
                //$("#ctrlCartaResponsabilidad").hide();
            } else {
                //$("#ctrlCartaResponsabilidad").hide();
                $("#ctrlCartaGarantia").hide();
            }

            if (IdPerfil == "7" || IdPerfil == "8") {
                $("#ctrlCartaResponsabilidad").show();
            } else {
                $("#ctrlCartaResponsabilidad").hide();
            }

        }

    </script>
}
